<div class="token-container" *ngIf="(token$ | async) as token; else noToken">
	<app-toolbar>
		<div left-side class="toolbar-left-side">
			<img class="token-img"
				 [ngClass]="{'empty-token-img': !token.assets?.svgUrl}"
				 [src]="token.assets?.svgUrl || '/assets/images/token-icon.svg'">
			<span>{{token.ticker}}</span>
		</div>
		<div left-side *ngIf="token.isPaused" class="paused-label">PAUSED</div>

		<ng-container right-side *ngIf="token.canMint || token.canBurn">
			<app-toolbar-icon-button *ngIf="token.canMint" appTooltip tooltip="Mint" (click)="mint()">
				data_saver_on
			</app-toolbar-icon-button>

			<app-toolbar-icon-button *ngIf="token.canBurn" appTooltip tooltip="Burn" (click)="burn()">
				local_fire_department
			</app-toolbar-icon-button>

			<div class="toolbar-splitter"></div>
		</ng-container>

		<ng-container right-side *ngIf="token.canPause">
			<app-toolbar-icon-button *ngIf="token.isPaused" appTooltip tooltip="Un pause"
									 (click)="unpause()">
				play_arrow
			</app-toolbar-icon-button>

			<app-toolbar-icon-button *ngIf="!token.isPaused" appTooltip tooltip="Pause"
									 (click)="pause()">
				pause
			</app-toolbar-icon-button>

			<div class="toolbar-splitter"></div>
		</ng-container>

		<ng-container right-side>
			<app-toolbar-icon-button *ngIf="token.canChangeOwner"
									 appTooltip tooltip="Transfer ownership"
									 (click)="transferOwnership()">
				admin_panel_settings
			</app-toolbar-icon-button>

			<app-toolbar-icon-button appTooltip tooltip="Set special role" (click)="setSpecialRole()">
				group_add
			</app-toolbar-icon-button>

			<div class="toolbar-splitter"></div>
		</ng-container>

		<ng-container right-side *ngIf="token.canWipe || token.canFreeze">
			<app-toolbar-icon-button *ngIf="token.canWipe" appTooltip tooltip="Wipe" (click)="wipe()">
				cleaning_services
			</app-toolbar-icon-button>

			<ng-container *ngIf="token.canFreeze">
				<app-toolbar-icon-button appTooltip tooltip="Freeze account" (click)="freeze()">
					mood_bad
				</app-toolbar-icon-button>

				<app-toolbar-icon-button appTooltip tooltip="Un freeze account" (click)="unfreeze()">
					mood
				</app-toolbar-icon-button>
			</ng-container>

			<div class="toolbar-splitter"></div>
		</ng-container>

		<app-toolbar-icon-button right-side appTooltip tooltip="Delete token"
								 (click)="delete()">
			delete
		</app-toolbar-icon-button>
		<app-toolbar-icon-button *ngIf="network$ | async as network"
								 right-side appTooltip tooltip="Explore"
								 (click)="explore(network)">
			search
		</app-toolbar-icon-button>
		<app-toolbar-icon-button right-side appTooltip tooltip="Refresh"
								 (click)="loadData()">
			refresh
		</app-toolbar-icon-button>
	</app-toolbar>
	<mat-tab-group headerPosition="below" [animationDuration]="'0ms'">
		<mat-tab label="Info">
			<div class="token-info page-tab-content">
				<div class="section-label">metrics</div>
				<div class="token-metrics">
					<div class="metric">
						<div class="value">{{token.supply}}</div>
						<div class="label">supply</div>
					</div>
					<div class="metric">
						<div class="value">{{token.minted | decimalPlaces: +token.decimals}}</div>
						<div class="label">minted</div>
					</div>
					<div class="metric">
						<div class="value">{{token.accounts}}</div>
						<div class="label">holders</div>
					</div>
					<div class="metric">
						<div class="value">{{token.circulatingSupply}}</div>
						<div class="label">circulating supply</div>
					</div>
					<div class="metric">
						<div class="value">{{token.burnt | decimalPlaces: +token.decimals}}</div>
						<div class="label">burnt</div>
					</div>
					<div class="metric">
						<div class="value">{{token.transactions}}</div>
						<div class="label">transactions</div>
					</div>

				</div>

				<div class="section-label">properties</div>
				<div class="properties">
					<div class="prop-name">Owner</div>
					<div class="prop-value">
						<app-address [chainId]="(network$ | async)?.chainId || ''"
									 [address]="token.owner"></app-address>
					</div>

					<div class="prop-name">Decimals</div>
					<div class="prop-value">{{token.decimals}}</div>

					<div class="prop-name">Initial minted</div>
					<div class="prop-value">{{token.initialMinted | decimalPlaces: +token.decimals}}</div>

					<div class="prop-name">canMint</div>
					<div class="prop-value">
						<div class="option-value" [ngClass]="token.canMint ? 'enabled' : 'disabled'">
							{{token.canMint ? 'enabled' : 'disabled'}}
						</div>
					</div>

					<div class="prop-name">canBurn</div>
					<div class="prop-value">
						<div class="option-value" [ngClass]="token.canBurn ? 'enabled' : 'disabled'">
							{{token.canBurn ? 'enabled' : 'disabled'}}
						</div>
					</div>

					<div class="prop-name">canFreeze</div>
					<div class="prop-value">
						<div class="option-value" [ngClass]="token.canFreeze ? 'enabled' : 'disabled'">
							{{token.canFreeze ? 'enabled' : 'disabled'}}
						</div>
					</div>

					<div class="prop-name">canPause</div>
					<div class="prop-value">
						<div class="option-value" [ngClass]="token.canPause ? 'enabled' : 'disabled'">
							{{token.canPause ? 'enabled' : 'disabled'}}
						</div>
					</div>

					<div class="prop-name">canWipe</div>
					<div class="prop-value">
						<div class="option-value" [ngClass]="token.canWipe ? 'enabled' : 'disabled'">
							{{token.canWipe ? 'enabled' : 'disabled'}}
						</div>
					</div>

					<div class="prop-name">canChangeOwner</div>
					<div class="prop-value">
						<div class="option-value" [ngClass]="token.canChangeOwner ? 'enabled' : 'disabled'">
							{{token.canChangeOwner ? 'enabled' : 'disabled'}}
						</div>
					</div>

					<div class="prop-name">canUpgrade</div>
					<div class="prop-value">
						<div class="option-value" [ngClass]="token.canUpgrade ? 'enabled' : 'disabled'">
							{{token.canUpgrade ? 'enabled' : 'disabled'}}
						</div>
					</div>
				</div>
			</div>
		</mat-tab>
		<mat-tab label="Roles">
			<div class="page-tab-content">
				<div class="token-roles-element" *ngFor="let role of (tokenRoles$ | async) || []">
					<app-address [address]="role.address" [chainId]="(network$ | async)?.chainId || ''"></app-address>
					<div class="roles">
						<span class="role-label" *ngFor="let permission of role.roles">{{permission}}</span>
					</div>
				</div>
			</div>
		</mat-tab>
		<mat-tab label="Holders">
			<div class="page-tab-content">
				<div class="token-holder-element" *ngFor="let holder of (tokenHolders$ | async) || []">
					<app-address [address]="holder.address" [chainId]="(network$ | async)?.chainId || ''"></app-address>
					<span>{{holder.balance | decimalPlaces: +token.decimals}}</span>
				</div>
			</div>
		</mat-tab>
		<mat-tab label="Transfers">
			<div class="page-tab-content">
				<app-token-transfer *ngFor="let transfer of (tokenTransfers$ | async) || []"
									[chainId]="(network$ | async)?.chainId || ''"
									[ticket]="token.ticker"
									[transfer]="transfer">
				</app-token-transfer>
			</div>
		</mat-tab>
	</mat-tab-group>
</div>

<ng-template #noToken>
	<app-no-token-placeholder [identifier]="identifier"
							  [network]="(network$ | async) || undefined"
							  (reload)="loadData()">
	</app-no-token-placeholder>
</ng-template>
