<div class="token-container" *ngIf="(token$ | async) as token">
	<app-toolbar>
		<div left-side class="toolbar-left-side">
			<img class="token-img"
				 [ngClass]="{'empty-token-img': !token.assets?.svgUrl}"
				 [src]="token.assets?.svgUrl || '/assets/images/token-icon.svg'">
			<span>{{token.ticker}}</span>
		</div>
		<app-toolbar-icon-button right-side hint="Refresh">refresh</app-toolbar-icon-button>
	</app-toolbar>
	<app-tabs navPosition="bottom">
		<app-tab top title="Info">
			<div>holders {{token.accounts}}</div>
			<div>burnt {{token.burnt}}</div>
			<div>decimals {{token.decimals}}</div>
			<div>minted {{token.minted}}</div>
			<div>supply {{token.supply}}</div>
			<div>initialMinted {{token.initialMinted}}</div>
			<div>canBurn {{token.canBurn}}</div>
			<div>canChangeOwner {{token.canChangeOwner}}</div>
			<div>canFreeze {{token.canFreeze}}</div>
			<div>canMint {{token.canMint}}</div>
			<div>canPause {{token.canPause}}</div>
			<div>canUpgrade {{token.canUpgrade}}</div>
			<div>canWipe {{token.canWipe}}</div>
			<div>owner {{token.owner}}</div>
		</app-tab>
		<app-tab top title="Roles">
			<div class="token-roles-element" *ngFor="let role of (tokenRoles$ | async) || []">
				<app-address [address]="role.address" [chainId]="(chainId$ | async) || ''"></app-address>
				<div class="roles">
					<span class="role-label" *ngFor="let permission of role.roles">{{permission}}</span>
				</div>
			</div>
		</app-tab>
		<app-tab top title="Holders">
			<div class="token-holder-element" *ngFor="let holder of (tokenHolders$ | async) || []">
				<app-address [address]="holder.address" [chainId]="(chainId$ | async) || ''"></app-address>
				<span>{{holder.balance}}</span>
			</div>
		</app-tab>
		<app-tab top title="Transactions">
			<app-token-transfer *ngFor="let transfer of (tokenTransfers$ | async) || []"
								[chainId]="(chainId$ | async) || ''"
								[ticket]="token.ticker"
								[transfer]="transfer">
			</app-token-transfer>
		</app-tab>
	</app-tabs>
</div>
