.token-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	height: calc(100vh - var(--header-height) - var(--toolbar-height) - var(--footer-height));

	.toolbar-left-side {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding-left: 12px;

		.token-img {
			width: 24px;
			height: 24px;
			border-radius: 24px;
			background: var(--static-white);
			margin-right: 10px;
		}

		.empty-token-img {
			padding: 4px;
		}
	}

	.header {
		display: flex;
		flex-direction: row;
		padding: 10px;



		.content {
			display: flex;
			flex-direction: column;
			justify-content: center;

			.title {
				font-size: 1.24em;
			}
		}
	}

	.token-holder-element {
		display: flex;
		width: 100%;
		flex: 1;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
		border-bottom: solid 1px var(--border-low-color);
	}

	.token-roles-element {
		display: flex;
		width: 100%;
		flex: 1;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
		border-bottom: solid 1px var(--border-low-color);

		.roles {
			display: flex;
			flex-direction: row;

			.role-label {
				margin-right: 6px;
				padding: 4px 10px;
				background: var(--static-green);
				border-radius: 18px;
			}
		}
	}
}
