.token-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	height: calc(100vh - var(--header-height) - var(--toolbar-height) - var(--footer-height));

	.toolbar-left-side {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding-left: 12px;

		.token-img {
			width: 24px;
			height: 24px;
			border-radius: 24px;
			background: var(--static-white);
			margin-right: 10px;
		}

		.empty-token-img {
			padding: 4px;
		}
	}

	.header {
		display: flex;
		flex-direction: row;
		padding: 10px;



		.content {
			display: flex;
			flex-direction: column;
			justify-content: center;

			.title {
				font-size: 1.24em;
			}
		}
	}

	.token-holder-element {
		display: flex;
		width: 100%;
		flex: 1;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
		border-bottom: solid 1px var(--border-low-color);
	}

	.token-roles-element {
		display: flex;
		width: 100%;
		flex: 1;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
		border-bottom: solid 1px var(--border-low-color);

		.roles {
			display: flex;
			flex-direction: row;

			.role-label {
				margin-right: 6px;
				padding: 4px 10px;
				background: var(--static-green);
				border-radius: 18px;
			}
		}
	}
}

.token-info {
	display: flex;
	flex-direction: column;

	.token-metrics {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		padding: 4px;
	}

	.actions {
		padding: 10px 0;

		button {
			margin-left: 6px;
		}
	}

	.properties {
		display: grid;
		grid-template-columns: 200px 1fr;

		.prop-name {
			color: var(--text-color);
			padding: 6px;
		}

		.prop-value {
			color: var(--text-color);
			padding: 6px;
			width: 100%;

			.option-value {
				padding: 2px 16px;
				border-radius: 16px;
				display: initial;
				font-size: 0.9em;
			}

			.enabled {
				color: var(--static-green);
				border: solid 1px var(--static-green);
			}

			.disabled {
				color: var(--border-accent-color);
				border: solid 1px var(--border-accent-color);
			}
		}
	}

	.section-label {
		width: 100%;
		padding: 6px 8px;
		color: var(--text-color);
		font-weight: 600;
		border-bottom: solid 1px var(--border-low-color);
		text-transform: uppercase;
	}

	.metric {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 4px;
		border-radius: 2px;
		border: solid 1px var(--border-color);
		margin: 4px;

		.value {
			padding: 4px 0;
			color: var(--text-color);
		}

		.label {
			font-size: 0.92em;
			color: var(--border-accent-color);
			text-transform: uppercase;
		}
	}
}
