.field {
	display: flex;
	flex-direction: column;
	padding: 6px 0;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.label {
	font-size: 0.76em;
	color: var(--field-label-color);
	margin-bottom: 4px;
	margin-left: 2px;
}

.error {
	color: var(--static-red)
}
