:host {
	position: relative;
}

.transaction-list-container {
	overflow-y: auto;
	height: calc(100vh - var(--header-height) - var(--toolbar-height) - var(--footer-height));
	border-left: solid 1px var(--border-low-color);
}

.empty-state {
	text-transform: uppercase;
	display: flex;
	height: 100%;
	flex: 1;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
	color: var(--text-color);
}
