<app-resize-vertical-splitter (dx)="resize.emit($event)"
							  side="right"
							  [minX]="minResizeMovingX"
							  [maxX]="maxResizeMoving"></app-resize-vertical-splitter>
<app-toolbar title="Action history" [borderLeft]="true">
	<ng-container right-side *ngIf="activeProjectId$ | async as projectId">
		<app-toolbar-icon-button *ngIf="(actionHistory$ | async)?.length"
								 matTooltip="Clear"
								 (click)="clearActionHistory(projectId)">
			delete
		</app-toolbar-icon-button>
		<app-toolbar-icon-button matTooltip="Reload" (click)="loadActionHistory(projectId)">
			refresh
		</app-toolbar-icon-button>
	</ng-container>
</app-toolbar>
<div class="transaction-list-container">
	<ng-container *ngIf="(actionHistory$ | async)?.length; else emptyState">
		<app-action *ngFor="let item of actionHistory$ | async; trackBy: trackBy" [data]="item"></app-action>
	</ng-container>
</div>

<ng-template #emptyState>
	<div class="empty-state">NO RECORDS</div>
</ng-template>
