.project-tabs-container {
	display: flex;
	flex-direction: column;
	background: var(--low-bg);
	width: 100%;
	overflow-x: hidden;
	position: relative;

	.invisible-list {
		right: 0;
		padding: 6px;
		color: white;
		position: absolute;
		width: 40px;
		cursor: pointer;
		height: calc(var(--toolbar-height) - 1px);
		background: var(--primary-bg);
		box-shadow: 0px -40px 26px 30px var(--primary-bg);
		padding-inline-start: 0;
		margin-block-start: 0;
		margin-block-end: 0;
		display:inherit;
		font-size: 1.2em;

		mat-icon {
			margin-left: 6px;
		}
	}
}

.nav {
	display: flex;
	width: 100%;
	height: var(--toolbar-height);
	padding-inline-start: 0;
	margin-block-start: 0;
	margin-block-end: 0;
	background: var(--primary-bg);
	border-bottom: solid 1px var(--border-low-color);
}

.tab {
	display: flex;
	justify-content: center;
	flex-direction: row;
	padding: 4px 8px;
	color: var(--primary-bg);
	cursor: pointer;
	text-align: center;
	border-right: solid 1px var(--border-low-color);

	&:hover {
		border-radius: 2px;
		opacity: 90%;
	}

	.title {
		display: flex;
		align-items: center;
		white-space: nowrap;
		font-size: 14px;
		font-weight: 500;
	}

	.icon {
		display: flex;
		align-items: center;
		margin-right: 4px;
		margin-left: 2px;
		font-size: 17px;
	}

	.close-button {
		margin-top: 2px;
		margin-left: 4px;
		padding: 2px 0 2px 4px;
		border: none;
		font-size: .8em;
		width: 28px;
		height: 28px;
		color: var(--static-gray);
		border-radius: 18px;
		background: none;
		font-weight: 600;

		&:hover {
			color: var(--text-color);
			background: var(--primary-bg);
		}
	}
}

.active {
	background-color: var(--low-bg);
}
