<div #container class="project-tabs-container">
	<div class="nav"
		 cdkDropList
		 cdkDropListLockAxis="x"
		 [cdkDropListAutoScrollDisabled]="false"
		 cdkDropListOrientation="horizontal"
		 (cdkDropListDropped)="move.emit({prevIndex: $event.previousIndex, currentIndex: $event.currentIndex})">
		<ng-container *ngFor="let tab of tabs; let i = index">
			<div #tabItems
				cdkDrag
				class="tab"
				[ngClass]="{'active': tab.active === true }"
				(click)="selectTab(tab, i)">
				<span class="icon material-icons" [ngStyle]="{color: tab.type | componentColor}">
					{{tab.type | componentIcon}}
				</span>
				<span class="title" [ngStyle]="{color: tab.type | componentColor}">{{ tab.title }}</span>
				<button class="close-button material-icons" (click)="close.emit(i)">close</button>
			</div>
		</ng-container>
	</div>
	<ng-container *ngIf="(invisibleTabsSubject | async) as invisibleTabs">
		<app-dropdown-menu class="invisible-list" horizontal="left" icon="expand_more">
			<app-dropdown-menu-item *ngFor="let invisibleTab of invisibleTabs"
									[color]="invisibleTab.type | componentColor"
									[icon]="invisibleTab.type | componentIcon"
									[text]="invisibleTab.title"
									[ngStyle]="{color: invisibleTab.type | componentColor}"
									(click)="pushTabAsFirst(invisibleTab.index)">
			</app-dropdown-menu-item>
		</app-dropdown-menu>
	</ng-container>

	<ng-content></ng-content>
</div>
