<div #container class="project-tabs-container">
	<div class="nav"
		 cdkDropList
		 cdkDropListLockAxis="x"
		 [cdkDropListAutoScrollDisabled]="false"
		 cdkDropListOrientation="horizontal"
		 (cdkDropListDropped)="move.emit({prevIndex: $event.previousIndex, currentIndex: $event.currentIndex})">
		<ng-container *ngFor="let tab of tabs; let i = index">
			<div #tabItems
				cdkDrag
				class="tab"
				[ngClass]="{'active': tab.active === true }"
				(click)="selectTab(tab, i)">
				<span class="icon material-icons" [ngStyle]="{color: tab.type | componentColor}">
					{{tab.type | componentIcon}}
				</span>
				<span class="title" [ngStyle]="{color: tab.type | componentColor}">{{ tab.title }}</span>
				<button class="close-button material-icons" (click)="close.emit(i)">close</button>
			</div>
		</ng-container>
	</div>
	<ng-container *ngIf="(invisibleTabsSubject | async) as invisibleTabs">
		<button class="invisible-list" [matMenuTriggerFor]="hiddenTabsMenu" style="font-size: 1.2em">
			<mat-icon class="dropdown-icon">expand_more</mat-icon>
		</button>
		<mat-menu #hiddenTabsMenu="matMenu" classList="dropdown-list" xPosition="before">
			<button mat-menu-item
					*ngFor="let invisibleTab of invisibleTabs"
					(click)="pushTabAsFirst(invisibleTab.index)"
					[ngStyle]="{color: invisibleTab.type | componentColor}">
				<mat-icon>{{invisibleTab.type | componentIcon}}</mat-icon>
				<span>{{invisibleTab.title}}</span>
			</button>
		</mat-menu>
	</ng-container>

	<ng-content></ng-content>
</div>
