.status-badge {
	padding: 2px 10px;
	border-radius: 12px;
	color: var(--text-accent-color);
}

.pending {
	background: var(--static-yellow);
}

.failed {
	background: var(--static-red);
}

.completed {
	background: var(--static-green);
}
