<app-modal-dialog-header title="Create project" [dialogRef]="dialogRef"></app-modal-dialog-header>

<div class="content">
	<mat-form-field appearance="outline">
		<mat-label>Project name</mat-label>
		<input matInput [(ngModel)]="projectName">
	</mat-form-field>
	<mat-form-field>
		<mat-select placeholder="Network" (selectionChange)="onChangeChainId($event.value)" panelClass="select-panel">
			<mat-option *ngFor="let network of (networks$ | async) || []" [value]="network.chainId">
				{{network.name}}
			</mat-option>
		</mat-select>
	</mat-form-field>
</div>

<div class="actions">
	<button mat-button class="cancel-button" (click)="dialogRef.close()">Cancel</button>
	<button mat-button class="create-button"
			[disabled]="!projectName || !chainId"
			(click)="create()">Create</button>
</div>
