<div class="token-transfer-container" *ngIf="transfer">
	<div class="header">
		<app-tx-hash [txHash]="transfer.txHash" [chainId]="chainId"></app-tx-hash>

		<div class="status-datetime">
			<div class="datetime">{{transfer.timestamp * 1000 | date:'medium'}}</div>
			<app-account-transaction-status-badge class="tx-status"
												  [status]="transfer.status">
			</app-account-transaction-status-badge>
		</div>
	</div>

	<div class="details">
		<app-address [address]="transfer.sender" [chainId]="chainId" [maxLength]="24"></app-address>

		<mat-icon class="arrow">navigate_next</mat-icon>
		<div class="amount">{{transfer.value | decimalPlaces: transfer.action?.decimals || 0}} {{ticket}}</div>
		<mat-icon class="arrow">navigate_next</mat-icon>

		<app-address [address]="transfer.receiver" [chainId]="chainId" [maxLength]="24"></app-address>
	</div>
</div>
