:host {
	width: 100%;
}

.option {
	color: var(--text-color);
	background: var(--high-bg);
	border: none;
	width: 100%;
	box-sizing: border-box;
	border-bottom: solid 1px var(--border-low-color);
	background: var(--low-bg);
	cursor: pointer;
	padding: 4px 8px;

	&:hover {
		background: var(--primary-darken-bg);
		color: var(--text-accent-color);
	}
}
