:host {
	width: 100%;
}

.option {
	color: var(--text-color);
	background: var(--high-bg);
	border: none;
	width: 100%;
	box-sizing: border-box;
	border-bottom: solid 1px var(--border-low-color);
	background: var(--primary-bg);
	cursor: pointer;

	&:hover {
		background: var(--primary-darken-bg);
		color: var(--text-accent-color);
	}
}

.element-small {
	font-size: 16px;
	padding: 8px 10px;
}

.element-medium {
	font-size: 18px;
	padding: 10px 12px;
}

.element-big {
	font-size: 22px;
	padding: 12px 14px;
}
