<div class="tx-sign-container">
	<ng-container *ngIf="endpoint.modifiers.isPayable()">
		<div class="input-field">
			<mat-form-field title="Amount" class="amount-input call-input">
				<mat-label>Amount</mat-label>
				<span matSuffix>{{tokenIdentifier.valueOf() | tokenIdentifierSymbol}}</span>
				<input matInput
					   type="number"
					   value="0"
					   (change)="onChangeTokenAmount($event)">
			</mat-form-field>
		</div>

		<div class="input-field">
			<app-token-identifier-input class="token-identifier-input call-input"
										[chainId]="network?.chainId || ''"
										[projectId]="projectId"
										(changed)="onChangeTokenIdentifier($event)">
			</app-token-identifier-input>
		</div>
	</ng-container>
	<mat-form-field class="call-input">
		<mat-select placeholder="Caller" (selectionChange)="onSelectedWallet($event.value)" panelClass="select-panel">
			<mat-option *ngFor="let wallet of wallets" [value]="wallet">{{wallet.name}}</mat-option>
		</mat-select>
	</mat-form-field>
	<div class="input-field">
		<mat-form-field class="call-input">
			<mat-label>Fee</mat-label>
			<input matInput
				   class="fee-input"
				   type="number"
				   [value]="fee.toString()"
				   placeholder="Fee"
				   (change)="onChangeFee($event)">
		</mat-form-field>
	</div>
	<div class="actions">
		<button class="action-button primary-action call-btn"
				[disabled]="!wallet"
				(click)="submit()">
			Call
		</button>
	</div>
</div>
