<div class="tx-sign-container">
	<ng-container *ngIf="endpoint.modifiers.isPayable()">
		<div class="input-field">
			<app-form-field title="Amount">
				<input class="amount-input"
					   type="number"
					   (change)="onChangeTokenAmount($event)">
			</app-form-field>
		</div>

		<div class="input-field">
			<app-form-field title="Token identifier">
				<app-token-identifier-input class="token-identifier-input"
											[chainId]="network?.chainId || ''"
											[projectId]="projectId"
											(changed)="onChangeTokenIdentifier($event)">
				</app-token-identifier-input>
			</app-form-field>
		</div>
	</ng-container>
	<div class="wallet">
		<mat-form-field>
			<mat-select placeholder="Caller" (selectionChange)="onSelectedWallet($event.value)" panelClass="select-panel">
				<mat-option *ngFor="let wallet of wallets" [value]="wallet">{{wallet.name}}</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	<div class="input-field">
		<app-form-field title="Fee">
			<input class="fee-input"
				   type="number"
				   [value]="fee"
				   placeholder="Fee"
				   (change)="onChangeFee($event)">
		</app-form-field>
	</div>
	<div class="actions">
		<button class="action-button primary-action call-btn"
				[disabled]="!wallet"
				(click)="submit()">
			Call
		</button>
	</div>
</div>
