.tx-sign-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	border-top: solid 1px var(--border-low-color);
	margin-top: 6px;
	padding-top: 6px;
}

.wallet {
	width: 200px;
}

.token-identifier-input {
}

.amount-input {
	width: 120px;
}

.input-field {
	padding: 0 8px;
}

.fee-input {
	width: 130px;
}

.actions {
	display: flex;
	flex-direction: row;
	padding: 8px;
	box-sizing: border-box;
	justify-content: flex-end;
}
