<div class="tx-sign-container">
	<ng-container *ngIf="endpoint.modifiers.isPayable()">
		<input placeholder="Amount" (change)="onChangeTokenAmount($event)">
		<app-token-identifier-input (changed)="onChangeTokenIdentifier($event)"></app-token-identifier-input>
	</ng-container>
	<div class="wallet">
		<app-select placeholder="Caller" (selectionChange)="onSelectedWallet($event.value)">
			<app-option *ngFor="let wallet of wallets" [value]="wallet">{{wallet.name}}</app-option>
		</app-select>
	</div>
	<div class="fee">
		<input type="number" [value]="fee" placeholder="fee" (change)="onChangeFee($event)">
	</div>
	<div class="actions">
		<button class="action-button primary-action" [disabled]="!wallet"
				(click)="submit()">
			Call
		</button>
	</div>
</div>
