.address-input {
	display: flex;
	flex: 1;
	position: relative;

	.input {
		display: flex;
		flex: 1;
	}

	.icons {
		right: 4px;
		top: 4px;
		position: absolute;

		.action {
			cursor: pointer;
			font-size: 1.18em;

			&:hover {
				color: var(--text-accent-color);
			}
		}

		.invalid-icon {
			color: var(--static-red);
		}
	}
}

.invalid {
	color: var(--static-red);
	border-color: var(--static-red);
}
