<div class="address-input">
	<input #input class="input"
		   autocomplete="nope"
		   placeholder="Address"
		   [ngClass]="{invalid: isInvalidAddress(input.value)}"
		   [value]="value"
		   (change)="onChangeEvent($event)">
	<div class="icons">
		<span class="material-icons action"
			  matTooltip="Select from address book"
			  (click)="selectFromAddressBook()">
			content_paste_search
		</span>
		<ng-container *ngIf="input.value && !isInvalidAddress(input.value)">
			<span class="material-icons action"
				  matTooltip="Copy"
				  (click)="clipboard.copy(value, 'Address')">
				content_copy
			</span>
			<span class="material-icons action"
				  matTooltip="Explore"
				  *ngIf="network$ | async as network"
				  (click)="explore(network.explorerUrl)">
				search
			</span>
		</ng-container>
		<span class="material-icons invalid-icon" *ngIf="isInvalidAddress(input.value)">cancel</span>
	</div>
</div>
