.address-input {
	display: flex;
	flex: 1;
	position: relative;

	.input {
		display: flex;
		flex: 1;
	}

	.icons {
		right: 4px;
		top: 2px;
		position: absolute;

		.action {
			cursor: pointer;
			font-size: 17px;
			margin: 3px;

			&:hover {
				color: var(--text-accent-color);
			}
		}

		.invalid-icon {
			color: var(--static-red);
			font-size: 17px;
			margin: 3px;
		}
	}
}

.invalid {
	color: var(--static-red);
	border-color: var(--static-red);
}

.history-container {
	width: 560px;
	max-height: 200px;
	position: absolute;
	top: 30px;
	background: var(--primary-bg);
	border: solid 1px var(--border-color);
	overflow-y: auto;
	border-radius: 6px;
	z-index: 1000;
}
