.toolbar-container {
	width: 100%;
	height: var(--toolbar-height);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: solid 1px var(--border-low-color);
	color: var(--text-color);

	.left-side, .right-side {
		display: flex;
		flex-direction: row;
	}

	.right-side {
		justify-content: right;
	}

	.left-side {
		justify-content: left;

		.toolbar-title {
			padding: 6px;
			display: flex;
			align-items: center;
		}

		.title-big {
			font-size: 1.08em;
		}

		.title-medium {
			font-size: 1em;
		}

		.title-small {
			font-size: 0.88em;
		}
	}
}

.right-border {
	border-right: solid 1px var(--border-low-color);
}

.left-border {
	border-left: solid 1px var(--border-low-color);
}

.top-border {
	border-top: solid 1px var(--border-low-color);
}
