.header-container {
	display: flex;
	flex: 1;
	width: 100%;
	flex-direction: row;
	padding: 24px 8px;
	box-sizing: border-box;

	.icon {
		padding: 4px;
		margin-right: 6px;
		width: 32px;
		height: 32px;
	}

	.address {
		display: flex;
		flex: 1;
	}
}
