<app-resize-vertical-splitter (dx)="resize.emit($event)"
							  side="right"
							  [minX]="minResizeMovingX"
							  [maxX]="maxResizeMoving"></app-resize-vertical-splitter>
<div class="container">
	<div class="content">
		<ng-content></ng-content>
	</div>
	<div class="tabs" *ngIf="(tabs?.length || 0) > 1">
		<div class="empty-space"></div>

		<div class="tab-label"
			 (click)="select(tab.id)"
			 [ngClass]="{active: tab.id === activeId }"
			 *ngFor="let tab of tabs">
			{{tab.title}}
		</div>
	</div>
</div>
