<div *ngIf="tx" class="transaction-container">
	<div class="primary-info">
		<app-tx-hash [txHash]="tx.txHash"
					 [interactive]="true"
					 [chainId]="chainId"
					 (open)="openTx()">
		</app-tx-hash>
		<app-account-transaction-status-badge [status]="tx.status"></app-account-transaction-status-badge>
	</div>
	<div class="tech-details">
		<app-address [address]="tx.sender" [chainId]="chainId"></app-address>
	</div>
	<div class="finance-details">Value: {{tx.value | decimalPlaces:18}} Fee: {{tx.fee | decimalPlaces:18}}</div>
</div>
