.transaction-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	border-bottom: solid 1px var(--border-low-color);
	padding: 8px;
	box-sizing: border-box;

	.primary-info, .tech-details, .finance-details {
		display: flex;
		flex-direction: row;
	}

	.primary-info {
		justify-content: space-between;
		align-items: center;
	}
}
