:host {
	width: 100%;
}

.project-wrapper {
	width: 100%;
	height: var(--toolbar-height);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.title {
	display: flex;
	flex-direction: row;
}

.arrow {
	width: 20px;
	margin-right: 2px;
	margin-left: 4px;
	font-size: 18px;
	padding: 6px 0;
	font-weight: 100;
	color: var(--low-text)
}

.project-name {
	padding: 8px 0;
	font-weight: 500;
	font-size: 14px;
	color: var(--text-color);
}

.close {
	color: var(--low-text);
	cursor: pointer;
	margin-left: 12px;
	margin-right: 4px;
	font-size: 18px;
	margin-top: 5px;

	&:hover {
		color: var(--text-color);
	}
}
