.content {
	padding: 10px;
	color: var(--text-color);
}

.tx-payload {
	width: 100%;
}

.actions {
	display: flex;
	flex: 1;
	flex-direction: row;
	padding-top: 4px;
	justify-content: flex-end;

	button {
		cursor: pointer;
		color: var(--text-color);
		margin: 4px;
	}

	.confirm-button {
		background: var(--static-green);
		border: solid 1px var(--static-green);
	}

	.cancel-button {
		background: none;
		border: solid 1px var(--border-color);
	}
}


