.content {
	width: 100%;



	.token-address {
		width: 100%;
	}

	.search-input {
		padding: 6px;
		width: 100%;

		input {
			width: 100%;
		}
	}

	.token-list {
		width: 100%;
		display: flex;
		flex-direction: column;
		height: 190px;
		overflow-y: auto;

		.token-element {
			padding: 6px;
			width: 100%;
			border-bottom: var(--border-accent-color);
			cursor: pointer;
			position: relative;

			.selected {
				position: absolute;
				top: 4px;
				right: 4px;
				color: var(--static-green);
			}
		}
	}
}

.issue-form {
	padding: 8px;
	display: flex;
	flex-direction: column;

	.form-control {
		display: flex;
		flex-direction: row;
		width: 100%;
		padding: 4px 0;

		.label {
			width: 160px;
		}

		.field {
			display: flex;
			flex: 1;
		}
	}
}

.actions {
	display: flex;
	flex: 1;
	flex-direction: row;
	padding-top: 4px;

	button {
		display: flex;
		padding: 6px;
		color: var(--text-color);
		border-radius: 4px;
		margin: 4px;
	}

	.create-button {
		background: var(--static-green);
		border: solid 1px var(--static-green);
	}

	.cancel-button {
		background: none;
		border: solid 1px var(--border-color);
	}
}


