<app-modal-dialog title="Add token" [dialogRef]="dialogRef" *ngIf="project$ | async as project">
	<mat-tab-group content>
		<mat-tab label="Import existing">
			<div class="content">
				<input class="token-address" [(ngModel)]="tokenId" placeholder="Token address">
			</div>
		</mat-tab>
		<mat-tab label="Issue token">
			<form [formGroup]="issueTokenForm" class="issue-form">
				<mat-form-field class="input-control">
					<mat-label>Name</mat-label>
					<input matInput formControlName="name" placeholder="Token name">
				</mat-form-field>

				<mat-form-field class="input-control">
					<mat-label>Ticker</mat-label>
					<input matInput formControlName="ticker" placeholder="Token ticker">
				</mat-form-field>

				<mat-form-field class="input-control">
					<mat-label>Mint value</mat-label>
					<input matInput formControlName="supply" type="number" min="0" placeholder="Mint value">
				</mat-form-field>

				<mat-form-field class="input-control">
					<mat-label>Decimals</mat-label>
					<input matInput formControlName="decimals" type="number" min="0" placeholder="Decimals">
				</mat-form-field>

				<mat-select  class="input-control" placeholder="Token issuer" (selectionChange)="wallet = $event.value">
					<mat-option *ngFor="let wallet of project.wallets" [value]="wallet">{{wallet.name}}</mat-option>
				</mat-select>
			</form>

			<button [disabled]="!issueTokenForm.valid"
					*ngIf="network$ | async as network"
					(click)="issueEstd(network, wallet)">
				Deploy
			</button>
		</mat-tab>
	</mat-tab-group>
	<div actions>
		<div class="actions">
			<button class="cancel-button" (click)="dialogRef.close()">Cancel</button>
			<button class="create-button"
					[disabled]="!tokenId"
					(click)="submit()">
				Add
			</button>
		</div>
	</div>
</app-modal-dialog>
