<app-modal-dialog title="Add token" [dialogRef]="dialogRef" *ngIf="project$ | async as project">
	<app-tabs content style="width: 100%">
		<app-tab bottom title="Import existing">
			<div class="content">
				<div class="search-input">
					<input (change)="onChangeSearchInput($event)" placeholder="Search token">
				</div>

				<div class="token-list" *ngIf="tokens$ | async as tokens">
					<div class="token-element"
						 *ngFor="let token of tokens"
						 (click)="tokenId = token.identifier">
						{{token.identifier}} - {{token.name}}

						<span class="material-icons selected" *ngIf="tokenId === token.identifier">check_circle</span>
					</div>
				</div>
			</div>
		</app-tab>
		<app-tab bottom title="Issue token">
			<form [formGroup]="issueTokenForm" class="issue-form">
				<div class="form-control">
					<div class="label">Token name</div>
					<input class="field" formControlName="name" placeholder="Token name">
				</div>

				<div class="form-control">
					<div class="label">Token ticker</div>
					<input formControlName="ticker" placeholder="Token ticker">
				</div>

				<div class="form-control">
					<div class="label">Mint value</div>
					<input formControlName="supply" type="number" min="0" placeholder="Mint value">
				</div>

				<div class="form-control">
					<div class="label">Decimals</div>
					<input formControlName="decimals" type="number" min="0" placeholder="Decimals">
				</div>
			</form>

			<app-select  class="input-control" placeholder="Token issuer" (selectionChange)="wallet = $event.value">
				<app-option *ngFor="let wallet of project.wallets" [value]="wallet">{{wallet.name}}</app-option>
			</app-select>

			<button [disabled]="!issueTokenForm.valid"
					*ngIf="network$ | async as network"
					(click)="issueEstd(network, wallet)">
				Deploy
			</button>
		</app-tab>
	</app-tabs>
	<div actions>
		<div class="actions">
			<button class="cancel-button" (click)="dialogRef.close()">Cancel</button>
			<button class="create-button"
					[disabled]="!tokenId"
					(click)="submit()">
				Add
			</button>
		</div>
	</div>
</app-modal-dialog>
