<app-modal-dialog title="Add token" [dialogRef]="dialogRef" *ngIf="project$ | async as project">
	<mat-tab-group content style="width: 100%">
		<mat-tab label="Import existing">
			<div class="content">
				<div  class="search-input">
					<input (change)="onChangeSearchInput($event)" placeholder="Search token">
				</div>

				<div class="token-list" *ngIf="tokens$ | async as tokens">
					<div class="token-element"
						 *ngFor="let token of tokens"
						 (click)="tokenId = token.identifier">
						{{token.identifier}} - {{token.name}}

						<span class="material-icons selected" *ngIf="tokenId === token.identifier">check_circle</span>
					</div>
				</div>
			</div>
		</mat-tab>
		<mat-tab label="Issue token">
			<form [formGroup]="issueTokenForm" class="issue-form">
				<mat-form-field class="input-control">
					<mat-label>Name</mat-label>
					<input matInput formControlName="name" placeholder="Token name">
				</mat-form-field>

				<mat-form-field class="input-control">
					<mat-label>Ticker</mat-label>
					<input matInput formControlName="ticker" placeholder="Token ticker">
				</mat-form-field>

				<mat-form-field class="input-control">
					<mat-label>Mint value</mat-label>
					<input matInput formControlName="supply" type="number" min="0" placeholder="Mint value">
				</mat-form-field>

				<mat-form-field class="input-control">
					<mat-label>Decimals</mat-label>
					<input matInput formControlName="decimals" type="number" min="0" placeholder="Decimals">
				</mat-form-field>

				<mat-select  class="input-control" placeholder="Token issuer" (selectionChange)="wallet = $event.value">
					<mat-option *ngFor="let wallet of project.wallets" [value]="wallet">{{wallet.name}}</mat-option>
				</mat-select>
			</form>

			<button [disabled]="!issueTokenForm.valid"
					*ngIf="network$ | async as network"
					(click)="issueEstd(network, wallet)">
				Deploy
			</button>
		</mat-tab>
	</mat-tab-group>
	<div actions>
		<div class="actions">
			<button class="cancel-button" (click)="dialogRef.close()">Cancel</button>
			<button class="create-button"
					[disabled]="!tokenId"
					(click)="submit()">
				Add
			</button>
		</div>
	</div>
</app-modal-dialog>
