<div class="sc-tokens-container">
	<div class="position">
		<div class="token-info">
			<img class="token-img" src="https://raw.githubusercontent.com/ElrondNetwork/assets/master/tokens/WEGLD-bd4d79/logo.svg" />
			<div class="token-id">EGLD</div>
		</div>

		<div class="amount">
			{{native | decimalPlaces:18}}
		</div>
	</div>
	<div *ngFor="let position of positions" class="position">
		<div class="token-info">
			<img class="token-img"
				 [ngClass]="{'empty-token-img': !position.assets?.svgUrl}"
				 [src]="position.assets?.svgUrl || '/assets/images/token-icon.svg'" />
			<div class="token-id">{{position.identifier}}</div>
		</div>

		<div class="amount">
			{{position.balance | decimalPlaces: position.decimals}}
		</div>
	</div>
</div>
