.content {
	padding: 8px 0;
	width: 100%;
	display: flex;
	flex-direction: column;

	.field {
		margin: 6px 0;
	}

	.input-field {
		width: 100%;
		display: flex;
		flex: 1
	}
}

.actions {
	display: flex;
	flex: 1;
	flex-direction: row;
	padding-top: 4px;

	button {
		display: flex;
		padding: 6px;
		color: var(--text-color);
		border-radius: 4px;
		margin: 4px;
	}

	.create-button {
		background: var(--static-green);
		border: solid 1px var(--static-green);
	}

	.cancel-button {
		background: none;
		border: solid 1px var(--border-color);
	}
}
