<app-modal-dialog [title]="title" [dialogRef]="dialogRef">
	<form content class="content" [formGroup]="form">
		<app-form-field title="Network name">
			<input class="field input-field" formControlName="name" placeholder="Network name">
		</app-form-field>

		<app-form-field title="Chain ID">
			<input class="field input-field" formControlName="chainId" placeholder="Chain ID">
		</app-form-field>

		<app-form-field title="Gateway url">
			<input class="field input-field" formControlName="gatewayUrl" placeholder="Gateway url">
		</app-form-field>

		<app-form-field title="Explorer url">
			<input class="field input-field" formControlName="explorerUrl" placeholder="Explorer url">
		</app-form-field>
	</form>

	<div actions>
		<div class="actions">
			<button class="cancel-button" (click)="dialogRef.close()">Cancel</button>
			<button class="create-button"
					[disabled]="form.invalid"
					(click)="submit()">
				{{action}}
			</button>
		</div>
	</div>
</app-modal-dialog>
