<div class="container" [formGroup]="form">
	<app-toolbar [title]="name" titleSize="small">
		<app-toolbar-icon-button right-side
								 matTooltip="Clear array"
								 (click)="clear()">
			delete
		</app-toolbar-icon-button>
		<app-toolbar-icon-button right-side
								 matTooltip="Add element"
								 (click)="addElement()">
			add
		</app-toolbar-icon-button>
	</app-toolbar>

	<div class="list"
		 cdkDropList
		 cdkDropListLockAxis="y"
		 [cdkDropListAutoScrollDisabled]="false"
		 cdkDropListOrientation="horizontal"
		 (cdkDropListDropped)="moveItem($event.previousIndex, $event.currentIndex)"
		 formArrayName="list">
		<div *ngFor="let control of list.controls; let i = index"
			 class="element"
			 cdkDrag>
			<div class="index">
				[{{i}}]
			</div>
			<div class="input">
				<app-sc-input [projectId]="projectId"
							  [formControlName]="i"
							  [type]="unwrappedType"
							  [chainId]="chainId">
				</app-sc-input>
			</div>
			<div class="actions">
				<div class="material-icons delete-icon"
					 matTooltip="Delete element"
					 (click)="delete(i)">
					close
				</div>
			</div>
		</div>
	</div>
</div>
