<div class="container">
	<div class="app-info">
		<div class="header">XDebug</div>
		<p>XDebug - the tool for easy interaction with smart contacts and ESTD/NFT/SFT token management on MultiversX network (previously Elrond).</p>

		<p class="disclaimer">
			DISCLAIMER:
			<br/>
			PLEASE NOTE: THIS PROJECT IS INCOMPLETE AND MIGHT HAVE SOME BUGS, PLEASE DO NOT USE IT FOR MAINNET.
		</p>

		<div class="roadmap-title">Roadmap:</div>
		<div class="roadmap-list">
			<div class="roadmap-item">&#x2705; Interaction with smart contracts</div>
			<div class="roadmap-item">&#x2705; ESTD token issuance</div>
			<div class="roadmap-item">&#x2705; ESTD token management</div>
			<div class="roadmap-item">&#x2705; Network management</div>
			<div class="roadmap-item">&#x2705; Transaction history</div>
			<div class="roadmap-item">&#x2705; Project management</div>
			<div class="roadmap-item">&#x2705; Maiar wallet connect</div>
			<div class="roadmap-item">&#x2705; Explore transaction</div>
			<div class="roadmap-item">&#x2705; Explore wallet</div>
			<div class="roadmap-item">&#x2705; Explore token</div>
			<div class="roadmap-item">&#x2705; Transfer funds</div>
			<div class="roadmap-item">&#x2705; MultiversX news widget</div>
			<div class="roadmap-item">&#x23F3; Meta ESTD issuance</div>
			<div class="roadmap-item">&#x23F3; Meta ESTD management</div>
			<div class="roadmap-item">&#x23F3; SFT issuance</div>
			<div class="roadmap-item">&#x23F3; SFT management</div>
			<div class="roadmap-item">&#x23F3; NFT issuance</div>
			<div class="roadmap-item">&#x23F3; NFT management</div>
			<div class="roadmap-item">&#x23F3; UI/UX improvements</div>
			<div class="roadmap-item">&#x23F3; Bugfixes</div>

		</div>
	</div>
	<div class="releases">
		<div class="header">Releases</div>
		<app-release-info *ngFor="let release of releasesList$ | async" [release]="release"></app-release-info>
	</div>
</div>
