<app-toolbar title="Projects">
	<app-toolbar-icon-button right-side appTooltip tooltip="Select opened element">
		ads_click
	</app-toolbar-icon-button>
	<app-toolbar-icon-button right-side appTooltip tooltip="Create" (click)="createProject()">
		add
	</app-toolbar-icon-button>
	<app-toolbar-icon-button right-side appTooltip tooltip="Refresh" (click)="loadProjects()">
		refresh
	</app-toolbar-icon-button>
</app-toolbar>

<div class="project-explorer">
	<app-project-element *ngFor="let project of (projects$ | async) || []"
						 [bold]="true"
						 [expandable]="true"
						 [name]="project.name + ' [' + (project.chainId | networkName | async) + ']'">
		<ng-container actions>
			<app-dropdown-menu horizontal="left">
				<app-dropdown-menu-item icon="bookmark"
										text="Open address book"
										(click)="openAddressBook(project)">
				</app-dropdown-menu-item>
				<app-dropdown-menu-item icon="drive_file_rename_outline"
										text="Rename"
										(click)="renameProject(project.id)">
				</app-dropdown-menu-item>
				<app-dropdown-menu-item icon="public"
										text="Change network"
										(click)="updateProjectNetwork(project.id)">
				</app-dropdown-menu-item>
				<app-dropdown-menu-item icon="delete"
										text="Delete"
										(click)="deleteProject(project.id)">
				</app-dropdown-menu-item>
			</app-dropdown-menu>
		</ng-container>
		<div innerElements>
			<app-project-element [expandable]="true"
								 name="ABI interfaces">
				<ng-container actions>
					<app-dropdown-menu horizontal="left">
						<app-dropdown-menu-item icon="upload_file"
												text="Upload ABI"
												(click)="uploadScAbi(project.id)"></app-dropdown-menu-item>
					</app-dropdown-menu>
				</ng-container>
				<ng-container innerElements>
					<app-project-element
						(click)="openProjectComponent(project.id, abi.name, 'abi', abi.id)"
						*ngFor="let abi of project.abiInterfaces"
						type="abi"
						[active]="(abi.id | isActiveProjectElement: project.id : 'abi') | async"
						[name]="abi.name || abi.name">
						<ng-container actions>
							<app-dropdown-menu horizontal="left">
								<app-dropdown-menu-item icon="drive_file_rename_outline"
														text="Rename"
														(click)="renameAbi(project.id, abi.id)">
								</app-dropdown-menu-item>
								<app-dropdown-menu-item icon="delete"
														text="Delete"
														(click)="deleteAbi(project.id, abi.id)">
								</app-dropdown-menu-item>
							</app-dropdown-menu>
						</ng-container>
					</app-project-element>
				</ng-container>
			</app-project-element>
			<app-project-element [expandable]="true"
								 name="Smart contracts">
				<ng-container actions>
					<app-dropdown-menu horizontal="left">
						<app-dropdown-menu-item icon="add"
												text="Add smart contract"
												(click)="addSmartContract(project.id)"></app-dropdown-menu-item>
					</app-dropdown-menu>
				</ng-container>
				<ng-container innerElements>
					<app-project-element
						(click)="openProjectComponent(project.id, sc.name || sc.name, 'sc', sc.id)"
						*ngFor="let sc of project.smartContracts"
						type="sc"
						[active]="(sc.id | isActiveProjectElement: project.id : 'sc') | async"
						[name]="sc.name || sc.name">
						<ng-container actions>
							<app-dropdown-menu horizontal="left">
								<app-dropdown-menu-item icon="drive_file_rename_outline"
														text="Rename"
														(click)="renameSmartContract(project.id, sc.id)">
								</app-dropdown-menu-item>
								<app-dropdown-menu-item icon="delete"
														text="Delete"
														(click)="deleteSmartContract(project.id, sc.id)">
								</app-dropdown-menu-item>
							</app-dropdown-menu>
						</ng-container>
					</app-project-element>
				</ng-container>
			</app-project-element>
			<app-project-element [expandable]="true" type="group" name="Tokens">
				<ng-container actions>
					<app-dropdown-menu horizontal="left">
						<app-dropdown-menu-item icon="add_circle"
												text="Issue token"
												(click)="issueToken(project.id)"></app-dropdown-menu-item>
						<app-dropdown-menu-item icon="manage_search"
												text="Import"
												(click)="importToken(project.id)"></app-dropdown-menu-item>
					</app-dropdown-menu>
				</ng-container>
				<ng-container innerElements>
					<app-project-element *ngFor="let tokenAddress of project.tokens"
										 (click)="openProjectComponent(project.id, tokenAddress, 'token', tokenAddress)"
										 type="token"
										 [active]="(tokenAddress | isActiveProjectElement: project.id : 'token') | async"
										 [name]="tokenAddress">
						<ng-container actions>
							<app-dropdown-menu horizontal="left">
								<app-dropdown-menu-item icon="search"
														text="Explore"
														(click)="exploreToken(project.id, tokenAddress)">
								</app-dropdown-menu-item>
								<app-dropdown-menu-item icon="delete"
														text="Delete"
														(click)="deleteToken(project.id, tokenAddress)">
								</app-dropdown-menu-item>
							</app-dropdown-menu>
						</ng-container>
					</app-project-element>
				</ng-container>
			</app-project-element>
			<app-project-element [expandable]="true" type="group" name="NFTs (coming soon)">
				<ng-container actions>
					<app-dropdown-menu horizontal="left">
					</app-dropdown-menu>
				</ng-container>
			</app-project-element>

			<app-project-element [expandable]="true" type="group" name="Wallets">
				<ng-container actions>
					<app-dropdown-menu horizontal="left">
						<app-dropdown-menu-item icon="key"
												text="Add secret key"
												(click)="generateWallet(project.id)"></app-dropdown-menu-item>
						<app-dropdown-menu-item icon="article"
												text="Add mnemonic"
												(click)="generateWallet(project.id)"></app-dropdown-menu-item>
						<app-dropdown-menu-item icon="add_task"
												text="Generate new one"
												(click)="generateWallet(project.id)"></app-dropdown-menu-item>
						<app-dropdown-menu-item icon="qr_code_2"
												text="Connect via Maiar"
												(click)="generateWallet(project.id)"></app-dropdown-menu-item>
						<app-dropdown-menu-item icon="public"
												text="Add web wallet"
												(click)="generateWallet(project.id)"></app-dropdown-menu-item>
					</app-dropdown-menu>
				</ng-container>
				<ng-container innerElements>
					<app-project-element *ngFor="let wallet of project.wallets"
										 (click)="openProjectComponent(project.id, wallet.name, 'wallet', wallet.address)"
										 type="wallet"
										 [active]="(wallet.address | isActiveProjectElement: project.id : 'wallet') | async"
										 [name]="wallet.name">
						<ng-container actions>
							<app-dropdown-menu horizontal="left">
								<app-dropdown-menu-item icon="drive_file_rename_outline"
														text="Rename"
														(click)="renameWallet(project.id, wallet.address)">
								</app-dropdown-menu-item>
								<app-dropdown-menu-item icon="key" text="Export keys" ></app-dropdown-menu-item>
								<app-dropdown-menu-item icon="delete"
														text="Delete"
														(click)="deleteWallet(project.id, wallet.address)">
								</app-dropdown-menu-item>
							</app-dropdown-menu>
						</ng-container>
					</app-project-element>
				</ng-container>
			</app-project-element>
		</div>
	</app-project-element>
</div>
