:host {
	position: relative;
}

.project-explorer {
	height: calc(100vh - var(--header-height) - var(--toolbar-height) - var(--footer-height));
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	border-right: solid 1px var(--border-low-color);

	.action-button {
		border: none;
		background: none;
		color: var(--text-color);
		cursor: pointer;
		margin-top: 2px;
		padding: 4px;

		&:hover {
			color: var(--text-accent-color);
		}
	}
}

.project-list-icon {
	cursor: pointer;
	font-size: 1.6em;
	padding: 6px 0;
}

.connected-wallet-icon {
	color: var(--wallet-color);
	padding: 9px;
	font-size: 18px;
	margin-left: 6px;
}

.connected-wallet-label {
	color: var(--wallet-color);
	font-size: 14px;
	font-weight: 600;
	padding: 10px;
}

.project-network {
	margin-right: 36px;
	color: var(--low-text);
}

.tip-label {
	color: var(--low-text);
}

.element-menu-icon {
	padding: 4px;
	margin: 0 4px;
	color: var(--low-text);
	cursor: pointer;
	font-size: 1.32em;

	&:hover {
		color: var(--text-accent-color);
	}
}
