<app-resize-vertical-splitter side="left" (dx)="resize.emit($event)"></app-resize-vertical-splitter>
<app-toolbar title="Projects">
	<ng-container left-side *ngIf="projectsList$ | async as projects">
		<ng-container *ngIf="projects.length">
			<mat-icon [matMenuTriggerFor]="projectMenu"
					  appTooltip tooltip="Show projects"
					  class="project-list-icon">arrow_drop_down</mat-icon>
			<mat-menu #projectMenu="matMenu" classList="dropdown-list" xPosition="before">
				<button mat-menu-item *ngFor="let project of projects" (click)="openProject(project.id)">
					<mat-icon>folder</mat-icon>
					<span>{{project.name}} [{{project.chainId | networkName | async}}]</span>
				</button>
			</mat-menu>
		</ng-container>
	</ng-container>

	<ng-container right-side *ngIf="activeProject$ | async as project">
		<app-toolbar-icon-button  appTooltip tooltip="Select opened element" (click)="showCurrentTab(project.id)">
			my_location
		</app-toolbar-icon-button>
	</ng-container>
	<app-toolbar-icon-button right-side appTooltip tooltip="Create" (click)="createProject()">
		add
	</app-toolbar-icon-button>
	<app-toolbar-icon-button right-side appTooltip tooltip="Refresh" (click)="loadProjects()">
		refresh
	</app-toolbar-icon-button>
</app-toolbar>

<div class="project-explorer">
	<ng-container *ngIf="activeProject$ | async as project">
		<app-project-element [isExpanded]="((project.id | isExpandedExplorerNode:'project': project.id) | async)"
							 [bold]="true"
							 [expandable]="true"
							 [name]="project.name + ' [' + (project.chainId | networkName | async) + ']'"
							 (onExpand)="onExpandElement(project.id, 'project', project.id, $event)">
			<ng-container actions>
				<button mat-icon-button [matMenuTriggerFor]="projectMenu" (click)="$event.stopImmediatePropagation()">
					<mat-icon class="dropdown-icon">more_vert</mat-icon>
				</button>
				<mat-menu #projectMenu="matMenu" classList="dropdown-list" xPosition="before">
					<button mat-menu-item (click)="openAddressBook(project)">
						<mat-icon>bookmark</mat-icon>
						<span>Open address book</span>
					</button>
					<button mat-menu-item (click)="renameProject(project.id, project.name)">
						<mat-icon>drive_file_rename_outline</mat-icon>
						<span>Rename</span>
					</button>
					<button mat-menu-item (click)="updateProjectNetwork(project.id)">
						<mat-icon>public</mat-icon>
						<span>Change network</span>
					</button>
					<button mat-menu-item (click)="deleteProject(project.id)">
						<mat-icon>delete</mat-icon>
						<span>Delete</span>
					</button>
				</mat-menu>
			</ng-container>
			<div innerElements>
				<app-project-element [expandable]="true"
									 [isExpanded]="((project.id | isExpandedExplorerNode:'group': 'abi') | async)"
									 (onExpand)="onExpandElement(project.id, 'group', 'abi', $event)"
									 name="ABI interfaces">
					<ng-container actions>
						<button mat-icon-button [matMenuTriggerFor]="abiGroupMenu" (click)="$event.stopImmediatePropagation()">
							<mat-icon class="dropdown-icon">more_vert</mat-icon>
						</button>
						<mat-menu #abiGroupMenu="matMenu" classList="dropdown-list" xPosition="before">
							<button mat-menu-item (click)="uploadScAbi(project.id)">
								<mat-icon>upload_file</mat-icon>
								<span>Upload ABI</span>
							</button>
						</mat-menu>
					</ng-container>
					<ng-container innerElements>
						<app-project-element #abiElem
											 (click)="openProjectComponent(abi.name, 'abi', abi.id)"
											 *ngFor="let abi of project.abiInterfaces; trackBy: abiTrackBy"
											 [isExpanded]="((project.id | isExpandedExplorerNode:'abi': abi.id) | async)"
											 (onExpand)="onExpandElement(project.id, 'abi', abi.id, $event)"
											 (onActivate)="onActivateElement(abiElem)"
											 type="abi"
											 [active]="(abi.id | isActiveProjectElement: project.id : 'abi') | async"
											 [name]="abi.name || abi.name">
							<ng-container actions>
								<button mat-icon-button [matMenuTriggerFor]="abiMenu" (click)="$event.stopImmediatePropagation()">
									<mat-icon class="dropdown-icon">more_vert</mat-icon>
								</button>
								<mat-menu #abiMenu="matMenu" classList="dropdown-list" xPosition="before">
									<button mat-menu-item (click)="renameAbi(project.id, abi.id, abi.name)">
										<mat-icon>drive_file_rename_outline</mat-icon>
										<span>Rename</span>
									</button>
									<button mat-menu-item (click)="deleteAbi(project.id, abi.id)">
										<mat-icon>delete</mat-icon>
										<span>Delete</span>
									</button>
								</mat-menu>
							</ng-container>
						</app-project-element>
					</ng-container>
				</app-project-element>
				<app-project-element [expandable]="true"
									 [isExpanded]="((project.id | isExpandedExplorerNode:'group': 'sc') | async)"
									 (onExpand)="onExpandElement(project.id, 'group', 'sc', $event)"
									 name="Smart contracts">
					<ng-container actions>
						<button mat-icon-button [matMenuTriggerFor]="scGroupMenu" (click)="$event.stopImmediatePropagation()">
							<mat-icon class="dropdown-icon">more_vert</mat-icon>
						</button>
						<mat-menu #scGroupMenu="matMenu" classList="dropdown-list" xPosition="before">
							<button mat-menu-item (click)="addSmartContract(project.id)">
								<mat-icon>add</mat-icon>
								<span>Add smart contract</span>
							</button>
						</mat-menu>
					</ng-container>
					<ng-container innerElements>
						<app-project-element #scElem
											 (click)="openProjectComponent(sc.name, 'sc', sc.id)"
											 *ngFor="let sc of project.smartContracts; trackBy: scTrackBy"
											 type="sc"
											 [active]="(sc.id | isActiveProjectElement: project.id : 'sc') | async"
											 [isExpanded]="((project.id | isExpandedExplorerNode:'sc': sc.id) | async)"
											 (onExpand)="onExpandElement(project.id, 'sc', sc.id, $event)"
											 (onActivate)="onActivateElement(scElem)"
											 [name]="sc.name || sc.name">
							<ng-container actions>
								<button mat-icon-button [matMenuTriggerFor]="scMenu" (click)="$event.stopImmediatePropagation()">
									<mat-icon class="dropdown-icon">more_vert</mat-icon>
								</button>
								<mat-menu #scMenu="matMenu" classList="dropdown-list" xPosition="before">
									<button mat-menu-item (click)="renameSmartContract(project.id, sc.id, sc.name)">
										<mat-icon>drive_file_rename_outline</mat-icon>
										<span>Rename</span>
									</button>
									<button mat-menu-item (click)="deleteSmartContract(project.id, sc.id)">
										<mat-icon>delete</mat-icon>
										<span>Delete</span>
									</button>
								</mat-menu>
							</ng-container>
						</app-project-element>
					</ng-container>
				</app-project-element>
				<app-project-element [expandable]="true"
									 [isExpanded]="((project.id | isExpandedExplorerNode:'group': 'token') | async)"
									 (onExpand)="onExpandElement(project.id, 'group', 'token', $event)"
									 type="group"
									 name="Tokens">
					<ng-container actions>
						<button mat-icon-button [matMenuTriggerFor]="tokenGroupMenu" (click)="$event.stopImmediatePropagation()">
							<mat-icon class="dropdown-icon">more_vert</mat-icon>
						</button>
						<mat-menu #tokenGroupMenu="matMenu" classList="dropdown-list" xPosition="before">
							<button mat-menu-item (click)="issueToken(project.id)">
								<mat-icon>add_circle</mat-icon>
								<span>Issue token</span>
							</button>
							<button mat-menu-item (click)="importToken(project.id)">
								<mat-icon>manage_search</mat-icon>
								<span>Import</span>
							</button>
						</mat-menu>
					</ng-container>
					<ng-container innerElements>
						<app-project-element #tokenElem *ngFor="let tokenAddress of project.tokens; trackBy: tokenTrackBy"
											 (click)="openProjectComponent(tokenAddress, 'token', tokenAddress)"
											 [isExpanded]="((project.id | isExpandedExplorerNode:'token': tokenAddress) | async)"
											 (onExpand)="onExpandElement(project.id, 'token', tokenAddress, $event)"
											 (onActivate)="onActivateElement(tokenElem)"
											 type="token"
											 [active]="(tokenAddress | isActiveProjectElement: project.id : 'token') | async"
											 [name]="tokenAddress">
							<ng-container actions>
								<button mat-icon-button [matMenuTriggerFor]="tokenMenu" (click)="$event.stopImmediatePropagation()">
									<mat-icon class="dropdown-icon">more_vert</mat-icon>
								</button>
								<mat-menu #tokenMenu="matMenu" classList="dropdown-list" xPosition="before">
									<button mat-menu-item (click)="exploreToken(project.id, tokenAddress)">
										<mat-icon>search</mat-icon>
										<span>Explore</span>
									</button>
									<button mat-menu-item (click)="deleteToken(project.id, tokenAddress)">
										<mat-icon>delete</mat-icon>
										<span>Delete</span>
									</button>
								</mat-menu>
							</ng-container>
						</app-project-element>
					</ng-container>
				</app-project-element>
				<app-project-element [expandable]="true"
									 [isExpanded]="((project.id | isExpandedExplorerNode:'group': 'nft') | async)"
									 (onExpand)="onExpandElement(project.id, 'group', 'nft', $event)"
									 type="group"
									 name="NFTs (coming soon)">
					<ng-container actions>
						<button mat-icon-button [matMenuTriggerFor]="nftGroupMenu" (click)="$event.stopImmediatePropagation()">
							<mat-icon class="dropdown-icon">more_vert</mat-icon>
						</button>
						<mat-menu #nftGroupMenu="matMenu" classList="dropdown-list" xPosition="before">
						</mat-menu>
					</ng-container>
				</app-project-element>

				<app-project-element [expandable]="true"
									 [isExpanded]="((project.id | isExpandedExplorerNode:'group': 'wallet') | async)"
									 (onExpand)="onExpandElement(project.id, 'group', 'wallet', $event)"
									 type="group"
									 name="Wallets">
					<ng-container actions>
						<button mat-icon-button [matMenuTriggerFor]="walletGroupMenu" (click)="$event.stopImmediatePropagation()">
							<mat-icon class="dropdown-icon">more_vert</mat-icon>
						</button>
						<mat-menu #walletGroupMenu="matMenu" classList="dropdown-list" xPosition="before">
							<button mat-menu-item (click)="generateWallet(project.id)">
								<mat-icon>key</mat-icon>
								<span>Add secret key</span>
							</button>
							<button mat-menu-item (click)="generateWallet(project.id)">
								<mat-icon>article</mat-icon>
								<span>Add mnemonic</span>
							</button>
							<button mat-menu-item (click)="generateWallet(project.id)">
								<mat-icon>add_task</mat-icon>
								<span>Generate new one</span>
							</button>
							<button mat-menu-item (click)="generateWallet(project.id)">
								<mat-icon>qr_code_2</mat-icon>
								<span>Connect via Maiar</span>
							</button>
							<button mat-menu-item (click)="generateWallet(project.id)">
								<mat-icon>public</mat-icon>
								<span>Add web wallet</span>
							</button>
						</mat-menu>
					</ng-container>
					<ng-container innerElements>
						<app-project-element #walletElem *ngFor="let wallet of project.wallets; trackBy: walletTrackBy"
											 (click)="openProjectComponent(wallet.name, 'wallet', wallet.address)"
											 [isExpanded]="((project.id | isExpandedExplorerNode:'wallet': wallet.address) | async)"
											 (onExpand)="onExpandElement(project.id, 'wallet', wallet.address, $event)"
											 (onActivate)="onActivateElement(walletElem)"
											 type="wallet"
											 [active]="(wallet.address | isActiveProjectElement: project.id : 'wallet') | async"
											 [name]="wallet.name">
							<ng-container actions>
								<button mat-icon-button [matMenuTriggerFor]="walletGroupMenu" (click)="$event.stopImmediatePropagation()">
									<mat-icon class="dropdown-icon">more_vert</mat-icon>
								</button>
								<mat-menu #walletGroupMenu="matMenu" classList="dropdown-list" xPosition="before">
									<button *ngIf="project.chainId | isNotMainnetNetwork"
											mat-menu-item
											(click)="faucet.gotoFaucet()">
										<mat-icon>monetization_on</mat-icon>
										<span>Open faucet</span>
									</button>
									<button mat-menu-item (click)="copyWalletAddress(wallet.address)">
										<mat-icon>content_copy</mat-icon>
										<span>Copy address</span>
									</button>
									<button mat-menu-item (click)="renameWallet(project.id, wallet.address, wallet.name)">
										<mat-icon>drive_file_rename_outline</mat-icon>
										<span>Rename</span>
									</button>
									<button mat-menu-item (click)="deleteWallet(project.id, wallet.address)">
										<mat-icon>delete</mat-icon>
										<span>Delete</span>
									</button>
								</mat-menu>
							</ng-container>
						</app-project-element>
					</ng-container>
				</app-project-element>
			</div>
		</app-project-element>
	</ng-container>
</div>
