<app-toolbar title="Projects">
	<app-toolbar-icon-button right-side hint="Add" (click)="createProject()">
		add
	</app-toolbar-icon-button>
	<app-toolbar-icon-button right-side hint="Refresh" (click)="loadProjects()">
		refresh
	</app-toolbar-icon-button>
</app-toolbar>

<div class="project-explorer">
	<app-project-element *ngFor="let project of (projects$ | async) || []"
						 [bold]="true"
						 [expandable]="true"
						 [name]="project.name + ' [' + (project.chainId | network | async) + ']'">
		<div innerElements>
			<app-project-element [expandable]="true" name="Smart contracts">
				<ng-container actions>
					<button class="material-icons action-button" (click)="uploadScAbi(project.id)">add</button>
				</ng-container>
				<ng-container innerElements>
					<app-project-element
						(click)="openProjectComponent(project.id, sc.name || sc.abi.name, 'sc', sc.id)"
						*ngFor="let sc of project.smartContracts"
						type="sc"
						[name]="sc.name || sc.abi.name">
					</app-project-element>
				</ng-container>
			</app-project-element>
			<app-project-element [expandable]="true" type="group" name="Tokens">
				<ng-container actions>
					<button class="material-icons action-button" (click)="addToken(project.id)">add</button>
				</ng-container>
				<ng-container innerElements>
					<app-project-element *ngFor="let tokenAddress of project.tokens"
										 type="token"
										 [name]="tokenAddress">
					</app-project-element>
				</ng-container>
			</app-project-element>
			<app-project-element [expandable]="true" type="group" name="NFTs">
				<ng-container actions>
					<button class="material-icons action-button">add</button>
				</ng-container>
				<ng-container innerElements>
					<app-project-element type="nft" name="DOGS-43FA6B"></app-project-element>
					<app-project-element type="nft" name="CATS-12FF8A"></app-project-element>
				</ng-container>
			</app-project-element>

			<app-project-element [expandable]="true" type="group" name="Wallets">
				<ng-container actions>
					<button class="material-icons action-button" (click)="generateWallet(project.id)">add</button>
				</ng-container>
				<ng-container innerElements>
					<app-project-element *ngFor="let wallet of project.wallets"
										 type="wallet"
										 [name]="wallet.name">
					</app-project-element>
				</ng-container>
			</app-project-element>
		</div>
	</app-project-element>
</div>
