.menu-button {
	padding: 10px;
	font-size: 1.2em;
	color: var(--text-accent-color);
	cursor: pointer;
	position: relative;
	z-index: 2;
}

.menu-container {
	position: absolute;
	z-index: 1;
	border-radius: 4px;
	border: solid 1px var(--border-color);
	margin-top: 4px;
}

.left {
	left: -160px;
}

.right {
	left: 0;
}
