<div #layout class="layout-container" [ngStyle]="{'grid-template-columns': gridTemplateColumns$ | async}">
	<div class="header-element">
		<ng-content select="[logo]"></ng-content>
	</div>
	<div class="header-element">
		<ng-content select="[header]"></ng-content>
	</div>
	<div class="header-element">
		<ng-content select="[headerToolbar]"></ng-content>
	</div>
	<div>
		<ng-content select="[project]"></ng-content>
	</div>
	<div>
		<ng-content select="[scViewer]"></ng-content>
	</div>
	<div>
		<ng-content select="[actionHistory]"></ng-content>
	</div>
	<div class="footer-element">
		<span class="footer-label">It's time to build</span>
	</div>
	<div class="footer-element footer-links">
		<a class="link" target="_blank" [href]="githubLink">GitHub</a>
		<a class="link" target="_blank" [href]="githubIssuesLink">Bug report</a>
		<a class="link" target="_blank" [href]="feedbackLink">Feedback</a>
		<a class="link" target="_blank" (click)="openDonationDialog()">Donation</a>
	</div>
	<div class="footer-element"></div>
</div>
