<div class="layout-container">
	<div class="header-element">
		<ng-content select="[logo]"></ng-content>
	</div>
	<div class="header-element">
		<ng-content select="[header]"></ng-content>
	</div>
	<div class="header-element">
		<ng-content select="[network]"></ng-content>
	</div>
	<div>
		<ng-content select="[project]"></ng-content>
	</div>
	<div>
		<ng-content select="[scViewer]"></ng-content>
	</div>
	<div>
		<ng-content select="[transactions]"></ng-content>
	</div>
	<div class="footer-element">It's time to build</div>
	<div class="footer-element"></div>
	<div class="footer-element"></div>
</div>
