:root {
	--static-red: #b04b4b;
	--static-yellow: #b09a4b;
	--static-green: #4aa444;
	--static-low-green: #4a9344;
	--static-gray: #adadad;
	--static-purpure: #a57eff;
	--static-cyan: #47af88;
	--static-white: #fff;

	--arg-name-color: #4a7db7;
	--arg-type-color: #47af88;

	--primary-bg: #17212b;
	--primary-darken-bg: #16202AFF;
	--high-bg: #242f3d;
	--lighten-bg: #273041;
	--low-bg: #1a2633;
	--low-text: #b2b5b6;
	--field-label-color: #c0c3c4;
	--text-color: #e1e3d9;
	--text-accent-color: #fff;
	--text-primary-color: #5288c1;

	--scroll-color: #36415b;
	--scroll-hover-color: #3a4564;

	--border-low-color: #23394b;
	--border-color: #31536e;
	--border-accent-color: #4875a2;

	--submit-button-bg: #4292df;
	--cancel-button-bg: #2f3d4f;

	--tooltip-bg: #000;
	--tooltip-text: #fff;

	--default-component-color: #fff;
	--abi-color: #f59664;
	--sc-color: #7effbd;
	--token-color: #fddf79;
	--wallet-color: #0FF0FF;
	--nft-color: #e37ef3;
	--tx-color: #73e775;

	--error-text-color: #ff3c3c;
	--success-text-color: #73e775;
}

