:root {
	--header-height: 38px;
	--widget-tabs-width: 26px;
	--tab-height: 26px;
	--project-selector-height: 70px;
	--toolbar-height: 38px;
	--footer-height: 24px;
	--endpoint-action-button-width: 70px;
}
