::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 1px var(--high-bg);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: var(--scroll-color);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--scroll-hover-color);
}

input, textarea {
	background: var(--primary-bg);
	color: var(--text-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input {
	background: var(--primary-darken-bg);
	color: var(--text-color);
	border: solid 1px var(--border-low-color);
	border-radius: 4px;
	padding: 4px 6px;
}

input:focus, input:active {
	border: solid 1px var(--border-accent-color);
	outline: none;
}

input[type=number] {
	-moz-appearance: textfield;
}

button {
	background: none;
	border: solid 1px transparent;
	color: var(--text-color);
	cursor: pointer;
	border-radius: 4px;
}

.link {
	text-decoration: none;
	color: var(--text-color);
	cursor: pointer;

	&:hover {
		text-decoration: underline;
		color: var(--text-accent-color);
	}
}

.toolbar-splitter {
	width: 6px;
	margin-bottom: 8px;
	margin-top: 8px;
	margin-right: 6px;
	border-right: solid 1px var(--border-low-color);
	height: calc(var(--toolbar-height) - 16px);
}
