<app-project-selector [projects]="(projects$ | async) || []" [selected]="selectedProject$ | async"></app-project-selector>

<app-tabs>
	<app-tab title="Smart contracts" [active]="true">
		<app-toolbar>
			<app-toolbar-icon-button right-side hint="Import new ABI">add</app-toolbar-icon-button>
			<app-toolbar-icon-button right-side hint="Refresh">refresh</app-toolbar-icon-button>
		</app-toolbar>
		<app-sc-list></app-sc-list>
	</app-tab>

	<app-tab title="Wallets">
		<app-toolbar>
			<app-toolbar-icon-button
				right-side
				hint="Generate new wallet"
				(click)="generateWallet()">
				add
			</app-toolbar-icon-button>
			<app-toolbar-icon-button right-side hint="Add wallet">person_add</app-toolbar-icon-button>
			<app-toolbar-icon-button right-side hint="Refresh">refresh</app-toolbar-icon-button>
		</app-toolbar>
		<app-wallet-list></app-wallet-list>
	</app-tab>
</app-tabs>
