.wallet-element-container {
	width: 100%;
	padding: 8px;
	box-sizing: border-box;
	border-bottom: solid 1px var(--border-low-color);

	.name, .address {
		padding: 2px 0;
	}

	.name {
		color: var(--text-accent-color);
		width: 100%;
		display: flex;
		flex: 1;
		flex-direction: row;
		justify-content: space-between;
	}
}
