.tabs-container {
	display: flex;
	flex-direction: column;
	background: var(--primary-bg);
	height: 100%;

	.nav {
		display: flex;
		width: 100%;
		height: var(--tab-height);
		padding-inline-start: 0;
		margin-block-start: 0;
		margin-block-end: 0;
		background: var(--primary-bg);

		li {
			display: block;
			padding: 0 4px;
			min-width: 100px;
			width: auto;
		}
	}

	.bottom-nav {
		position: fixed;
		bottom: var(--footer-height); // TODO: Fix it
	}

	.tab {
		padding: 5px;
		text-align: center;
		width: 50px;
		cursor: pointer;



		&:hover {
			border-radius: 2px;
			opacity: 90%;
		}
	}

	.active {
		background-color: var(--low-bg);
	}
}
