<app-modal-dialog-header title="Issue token" [dialogRef]="dialogRef"></app-modal-dialog-header>

<div class="content" *ngIf="project$ | async as project">
	<form [formGroup]="issueTokenForm" class="issue-form">
		<div class="form-section">
			<app-form-field title="Token name">
				<input class="input" formControlName="name">
			</app-form-field>

			<app-form-field title="Token ticker">
				<input class="input" formControlName="ticker">
			</app-form-field>

			<app-form-field title="Mint value">
				<input class="input" formControlName="supply" type="number" min="0">
			</app-form-field>

			<app-form-field title="Decimals">
				<input class="input" formControlName="decimals" type="number" min="0">
			</app-form-field>
		</div>
		<div class="from-section">
			<div class="checkbox-field">
				<div class="label">Can freeze</div>
				<mat-checkbox formControlName="canFreeze"></mat-checkbox>
			</div>
			<div class="checkbox-field">
				<div class="label">Can wipe</div>
				<mat-checkbox formControlName="canWipe"></mat-checkbox>
			</div>
			<div class="checkbox-field">
				<div class="label">Can pause</div>
				<mat-checkbox formControlName="canPause"></mat-checkbox>
			</div>
			<div class="checkbox-field">
				<div class="label">Can mint</div>
				<mat-checkbox formControlName="canMint"></mat-checkbox>
			</div>
			<div class="checkbox-field">
				<div class="label">Can burn</div>
				<mat-checkbox formControlName="canBurn"></mat-checkbox>
			</div>
			<div class="checkbox-field">
				<div class="label">Can change owner</div>
				<mat-checkbox formControlName="canChangeOwner"></mat-checkbox>
			</div>
			<div class="checkbox-field">
				<div class="label">Can upgrade</div>
				<mat-checkbox formControlName="canUpgrade"></mat-checkbox>
			</div>
			<div class="checkbox-field">
				<div class="label">Can add special roles</div>
				<mat-checkbox formControlName="canAddSpecialRoles"></mat-checkbox>
			</div>
		</div>
	</form>

	<app-form-field class="caller" title="Token issuer">
		<mat-select class="input-control"
					panelClass="select-panel"
					(selectionChange)="onChangeIssuerWallet($event.value)" >
			<mat-option *ngFor="let wallet of project.wallets" [value]="wallet">{{wallet.name}}</mat-option>
		</mat-select>
	</app-form-field>
</div>
<div class="actions">
	<button mat-flat-button class="cancel-button" (click)="dialogRef.close()">Cancel</button>
	<button mat-flat-button
			class="create-button"
			[disabled]="!issueTokenForm.valid"
			*ngIf="network$ | async as network"
			(click)="submit(network)">
		Issue
	</button>
</div>
