<app-resize-vertical-splitter (dx)="resize.emit($event)" side="right"></app-resize-vertical-splitter>
<app-toolbar title="Action history">
	<app-toolbar-icon-button *ngIf="(actionHistory$ | async)?.length"
							 right-side appTooltip tooltip="Clear"
							 (click)="clearActionHistory()">
		delete
	</app-toolbar-icon-button>
	<app-toolbar-icon-button right-side appTooltip tooltip="Reload" (click)="loadActionHistory()">
		refresh
	</app-toolbar-icon-button>
</app-toolbar>
<div class="transaction-list-container">
	<ng-container *ngIf="(actionHistory$ | async)?.length; else emptyState">
		<app-action *ngFor="let item of actionHistory$ | async" [data]="item"></app-action>
	</ng-container>
</div>

<ng-template #emptyState>
	<div class="empty-state">NO RECORDS</div>
</ng-template>
