<section (click)="dialogRef.close()">
	<div class="dialog-container"
		 (click)="$event.stopPropagation()"
		 [ngStyle]="{width: width, height: height}">
		<div class="header">
			<div class="title">{{title}}</div>
			<span class="material-icons close" (click)="dialogRef.close()">✕</span>
		</div>
		<div class="content">
			<ng-content select="[content]"></ng-content>
		</div>
		<div class="actions" *ngIf="showActions">
			<ng-content select="[actions]"></ng-content>
		</div>
	</div>
</section>
