<div class="endpoint-container" *ngIf="endpoint">
	<div class="header"
		 [ngStyle]="{cursor: isShowing ? 'default' : 'pointer'}">
		<div class="title" (click)="isShowing = true">
			{{endpoint.name}}
			<span class="args">{{getArgsPreview()}}</span></div>
		<div class="controls">
			<span class="badge mutable" *ngIf="endpoint.modifiers.isReadonly()">Mutable</span>
			<span class="badge readonly" *ngIf="!endpoint.modifiers.isReadonly()">Readonly</span>
			<button class="material-icons" *ngIf="isShowing" (click)="hide()">expand_less</button>
			<button class="material-icons" *ngIf="!isShowing" (click)="show()">expand_more</button>
		</div>
	</div>
	<ng-container *ngIf="isShowing">
		<form [formGroup]="form" class="inputs">
			<app-sc-input *ngFor="let input of endpoint?.input || []"
						  [input]="input"
						  [formControlName]="input.name"></app-sc-input>
		</form>
		<div class="actions">
			<button class="button">Reset</button>
			<button class="button call">Call</button>
		</div>
	</ng-container>
</div>
