.endpoint-container {
	display: flex;
	padding: 8px;
	flex-direction: column;
	border-bottom: solid 1px var(--border-color);

	.header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		color: var(--text-color);

		.title {
			display: flex;
			font-size: 1.2em;

			.args {
				color: var(--border-color);
				margin-left: 10px;
			}
		}

		.controls {
			display: flex;
		}
	}

	.inputs {
		display: flex;
		flex-direction: column;

		.input {
		}
	}

	.actions {
		display: flex;
		flex-direction: row;
		width: 100%;
		padding: 8px;
		box-sizing: border-box;
		justify-content: flex-end;

		.button {
			padding: 4px 8px;
		}

		.call {
			background: var(--static-green);
		}
	}
}
