.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4px;
	padding-top: 10px;
}

.text {
	text-align: center;
	padding: 10px 0;
}

.qr-code {
	padding: 6px;
}

.payment-info {
	font-size: 13px;
}
