.select {
	width: 100%;
	color: var(--text-accent-color);
	border-radius: 4px;
	border: solid 1px var(--high-bg);
	background: none;
	cursor: pointer;
	box-sizing: border-box;
}

.element-small {
	font-size: 16px;
	padding: 8px 10px;
}

.element-medium {
	font-size: 18px;
	padding: 10px 12px;
}

.element-big {
	font-size: 22px;
	padding: 12px 14px;
}

.options-small {
	margin-top: 4px;
}

.options-medium {
	margin-top: 6px;
}

.options-big {
	margin-top: 8px;
}

.options-container {
	position: absolute;
	z-index: 1;
	border-radius: 4px;
	border: solid 1px var(--border-color);

	.option {
		color: var(--text-color);
		background: var(--high-bg);
		border: none;
		width: 100%;
		box-sizing: border-box;
		border-bottom: solid 1px var(--border-low-color);
		cursor: pointer;

		&:hover {
			background: var(--primary-darken-bg);
			color: var(--text-accent-color);
		}
	}
}
