.select {
	width: 100%;
	color: var(--text-accent-color);
	border-radius: 4px;
	border: solid 1px var(--border-color);
	background: var(--border-low-color);
	cursor: pointer;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.label {
	display: flex;
	flex: 1;
}

.icon {
	display: flex;
	margin-right: -6px;
}

.element-small {
	font-size: 16px;
	padding: 8px 10px;
}

.element-medium {
	font-size: 18px;
	padding: 10px 12px;
}

.element-big {
	font-size: 22px;
	padding: 12px 14px;
}

.options-small {
	margin-top: 4px;
}

.options-medium {
	margin-top: 6px;
}

.options-big {
	margin-top: 8px;
}

.options-container {
	position: absolute;
	z-index: 1;
	border-radius: 4px;
	border: solid 1px var(--border-color);
}
