<div #selector class="select" [ngClass]="getCssClass('element')" (click)="switchShowOptions()">
	{{currentSelectedElement?.name || placeHolder}}
</div>

<div class="options-container"
	 [ngClass]="getCssClass('options')"
	 *ngIf="isVisibleOptions"
	 [ngStyle]="{width: selector.clientWidth  + 'px'}">
	<div *ngIf="nullable"
		 class="option"
		 [ngClass]="getCssClass('element')"
		 (click)="selectElement(undefined)">
		{{nullPlaceHolder}}
	</div>
	<div class="option"
		 [ngClass]="getCssClass('element')"
		 *ngFor="let elem of elements"
		 (click)="selectElement(elem)">
		{{elem.name}}
	</div>
</div>
