<div #selector class="select" [ngClass]="{active: isVisibleOptions}" (click)="switchShowOptions($event)">
	<div class="content">
		<div class="label">{{label}}</div>
		<div class="value">{{defaultElement?.name || currentSelectedElement?.name || 'No value'}}</div>
	</div>
	<div class="icon material-icons">{{isVisibleOptions ? 'expand_less' : 'expand_more'}}</div>
</div>

<div class="options-container"
	 *ngIf="isVisibleOptions"
	 [ngStyle]="{minWidth: selector.offsetWidth  + 'px'}">
	<ng-content></ng-content>
</div>
