section {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.06);
	backdrop-filter: blur(2px);
	transition: opacity 250ms ease-in;
	visibility: inherit;
	opacity: 1;

	.dialog-container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 200px;
		width: 300px;
		background: var(--primary-bg);
		padding: 8px;
		border-radius: 4px;
		border: solid 1px var(--border-color);
		box-shadow: 0 0 6px 2px var(--border-low-color);
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
	}

	.header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		height: 30px;
		font-size: 18px;
		color: var(--text-accent-color);
		margin-top: 4px;
		margin-right: 4px;

		border-bottom: solid 1px var(--border-low-color);

		.title {
			display: flex;
		}

		.close {
			display: flex;
			background: none;
			color: var(--text-color);
			border: none;
			font: inherit;
			cursor: pointer;
			outline: none;

			&:hover {
				color: var(--text-accent-color);
			}
		}
	}

	.content {
		display: flex;
		flex: 1;
	}

	.actions {
		display: flex;
		height: 40px;
		border-top: solid 1px var(--border-low-color);
	}

}
