<app-loading-screen *ngIf="isVisibleLoadingScreen$ | async"></app-loading-screen>
<app-layout #layout>
	<div leftHeader class="right-header-container">
		<app-logo (click)="onLogoClick()"
				  [projectName]="(activeProject$ | async)?.name || ''">
			<app-active-project *ngIf="activeProject$ | async as activeProject" [project]="activeProject"></app-active-project>
		</app-logo>
	</div>
	<ng-container header *ngIf="activeProject$ | async as activeProject">
		<app-toolbar>
			<ng-container left-side>
				<app-toolbar-icon-button (click)="openAddressBook(activeProject.id)"
										 matTooltip="Open address book">bookmarks</app-toolbar-icon-button>
				<app-toolbar-icon-button (click)="importToken(activeProject.id)"
										 matTooltip="Import token">manage_search</app-toolbar-icon-button>
				<app-toolbar-icon-button [matMenuTriggerFor]="addMenu"
										 matTooltip="Add new component"
										 icon="add_circle">add_circle</app-toolbar-icon-button>

				<mat-menu #addMenu="matMenu" classList="dropdown-list">
					<button mat-menu-item (click)="uploadScAbi(activeProject.id)">
						<mat-icon>data_object</mat-icon>
						<span>Upload ABI</span>
					</button>
					<button mat-menu-item (click)="addSmartContract(activeProject.id)">
						<mat-icon>code</mat-icon>
						<span>Create smart contract</span>
					</button>
					<button mat-menu-item (click)="addSmartContract(activeProject.id)">
						<mat-icon>token</mat-icon>
						<span>Issue token</span>
					</button>
					<button mat-menu-item [matMenuTriggerFor]="addWalletMenu">
						<mat-icon>account_balance_wallet</mat-icon>
						<span>Add wallet</span>
					</button>
				</mat-menu>

				<mat-menu #addWalletMenu="matMenu" classList="dropdown-list">
					<button mat-menu-item (click)="generateWallet(activeProject.id)">
						<mat-icon>add_task</mat-icon>
						<span>Generate new one</span>
					</button>
					<button mat-menu-item (click)="connectWalletViaMaiarApp(activeProject.id)">
						<mat-icon>qr_code</mat-icon>
						<span>Connect via Maiar</span>
					</button>
					<button mat-menu-item (click)="generateWallet(activeProject.id)">
						<mat-icon>key</mat-icon>
						<span>Add secret key</span>
					</button>
				</mat-menu>

				<div class="toolbar-splitter"></div>

				<app-toolbar-icon-button (click)="renameProject(activeProject.id, activeProject.name)"
										 matTooltip="Rename project">drive_file_rename_outline</app-toolbar-icon-button>
				<app-toolbar-icon-button [color]="'var(--static-red)'"
										 matTooltip="Delete project"
										 (click)="deleteProject(activeProject.id)">delete</app-toolbar-icon-button>
			</ng-container>
			<ng-container right-side>
				<app-toolbar-icon-button (click)="transferFunds(activeProject.id, activeProject.chainId)"
										 matTooltip="Transfer funds">send</app-toolbar-icon-button>
				<app-toolbar-icon-button *ngIf="activeProject.chainId | isNotMainnetNetwork"
										 (click)="faucet.gotoFaucet()"
										 matTooltip="Open faucet">
					monetization_on
				</app-toolbar-icon-button>

				<div class="toolbar-splitter"></div>

				<span class="network-name">{{activeProject.chainId | networkName | async}}</span>

				<app-toolbar-icon-button color="var(--network-color)"
										 (click)="updateProjectNetwork(activeProject.id)"
										 matTooltip="Change network">
					public
				</app-toolbar-icon-button>
			</ng-container>
		</app-toolbar>
	</ng-container>

	<div rightHeader class="left-header-container">
		<div>
			<app-connected-wallet *ngIf="connectedMaiarWallet$ | async as connectedWallet"
								  [connectedWallet]="connectedWallet">
			</app-connected-wallet>
		</div>
		<app-header-toolbar>
			<ng-container *ngIf="isPasswordSet$ | async">
				<app-toolbar-icon-button *ngIf="!(isUnlockedWalletAccess$ | async)"
										 (click)="putPassword()"
										 matTooltip="Unlock wallet access">
					login
				</app-toolbar-icon-button>
				<app-toolbar-icon-button *ngIf="isUnlockedWalletAccess$ | async"
										 (click)="lockWalletAccess()"
										 matTooltip="Lock wallet access">
					lock
				</app-toolbar-icon-button>
			</ng-container>
			<app-toolbar-icon-button (click)="openSettings()"
									 matTooltip="Settings">settings</app-toolbar-icon-button>
		</app-header-toolbar>
	</div>

	<app-project-explorer project (resize)="layout.resizePanel('left', $event)"></app-project-explorer>
	<app-project-tabs
		scViewer
		(move)="moveTab($event.prevIndex, $event.currentIndex)"
		(close)="closeTab($event)"
		(selectedTab)="selectTab($event)">
		<app-project-tab *ngFor="let tab of openedTabs$ | async; let i = index; trackBy: trackByTab"
						 [index]="tab.index"
						 [active]="i === (currentTabIndex$ | async)"
						 [title]="tab.title"
						 [type]="tab.componentType">
			<ng-container *ngIf="tab.componentType === 'sc'">
				<app-sc-viewer *ngIf="getScById$(tab.projectId, tab.componentId) | async as sc"
							   [projectId]="tab.projectId"
							   [chainId]="(getProjectChainId$(tab.projectId) | async) || ''"
							   [sc]="sc" [abi]="getAbiById$(tab.projectId, sc.abiId) | async">
				</app-sc-viewer>
			</ng-container>

			<app-sc-viewer *ngIf="tab.componentType === 'abi'"
						   [projectId]="tab.projectId"
						   [chainId]="(getProjectChainId$(tab.projectId) | async) || ''"
						   [abi]="getAbiById$(tab.projectId, tab.componentId) | async">
			</app-sc-viewer>

			<app-token-viewer *ngIf="tab.componentType === 'token'"
							  [projectId]="tab.projectId"
							  [identifier]="tab.componentId"></app-token-viewer>
			<app-wallet-viewer *ngIf="tab.componentType === 'wallet'"
							   [projectId]="tab.projectId"
							   [address]="tab.componentId"></app-wallet-viewer>
			<app-address-book-viewer *ngIf="tab.componentType === 'address_book'"
									 [projectId]="tab.projectId">
			</app-address-book-viewer>
			<app-tx-viewer *ngIf="tab.componentType === 'tx'" [txHash]="tab.componentId"
						   [projectId]="tab.projectId"></app-tx-viewer>
			<app-home-page *ngIf="tab.componentType === 'home'"></app-home-page>
			<app-settings-page *ngIf="tab.componentType === 'settings'"></app-settings-page>
		</app-project-tab>
	</app-project-tabs>

	<app-tabs-widget actionHistory (resize)="layout.resizePanel('right', $event)">
		<app-widget-tab *ngIf="activeProject$ | async" title="Action history">
			<app-action-list></app-action-list>
		</app-widget-tab>
		<app-widget-tab title="Deploy SC">
			<app-deploy-sc></app-deploy-sc>
		</app-widget-tab>
		<app-widget-tab title="News">
			<app-news-list></app-news-list>
		</app-widget-tab>
	</app-tabs-widget>
</app-layout>
