<app-layout>
	<app-logo logo></app-logo>
	<app-network-selector network></app-network-selector>
	<app-project-explorer project></app-project-explorer>
	<app-project-tabs
		scViewer
		(move)="moveTab($event.prevIndex, $event.currentIndex)"
		(close)="closeTab($event)"
		(selectedTab)="selectTab($event)">
		<app-project-tab *ngFor="let tab of openedTabs$ | async; let i = index"
						 [active]="i === (currentTabIndex$ | async)"
						 [title]="tab.title"
						 [type]="tab.componentType">
			<app-sc-viewer [selectedSc]="selectedSc$ | async" address="erd1qqqqqqqqqqqqqpgqj25hg94023j60j9pdezezms4d7nj79lt6gaq0fw0yd"></app-sc-viewer>
		</app-project-tab>
	</app-project-tabs>
	<app-transaction-list transactions></app-transaction-list>
</app-layout>
