:host {
	width: 100%;
}

.logo-container {
	width: 100%;
	cursor: pointer;
	display: flex;
	justify-content: space-between;

	.logo-text {
		display: flex;
		align-items: center;
		padding: 10px 0 10px 10px;
		font-weight: 600;
		color: var(--low-text);
		font-size: 15px;

		&:hover {
			color: var(--text-color);
		}

		.text {
			color: var(--text-color);
		}

		.symbol-text {
			color: var(--low-text);
			margin: 0 4px;
		}
	}

	.icon {
		font-size: 18px;
		margin: -2px 2px 0;
	}

	.splitter {
		color: var(--border-color);
		font-weight: 500;
		font-size: 15px;
		margin-left: 6px;
		margin-right: 4px;
	}

	.project-name {
		font-weight: 400;
		color: var(--text-color);
		font-size: 15px;
	}
}
