:host {
	width: 100%;
}

.container {
	overflow-y: auto;
	height: calc(100vh - var(--header-height) - var(--toolbar-height) - var(--footer-height));
	border-left: solid 1px var(--border-low-color);
	padding: 10px;
}

.args {
	display: flex;
	flex-direction: column;
	padding: 8px 0;
	margin: 8px 0;
	border-bottom: solid 1px var(--border-low-color);
}

.constructor-title {
	font-size: 16px;
	font-weight: 500;
	color: var(--low-text);
}

.deploy-btn {
	width: 100%;
	padding: 8px;
	box-sizing: border-box;

	border: solid 1px var(--border-color);
	color: var(--text-color);
	background: none;
}
