.query-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	border-top: solid 1px var(--border-low-color);
	margin-top: 6px;
	padding-top: 6px;

	.wallet {
		width: 100px;
	}

	.actions {
		display: flex;
		flex-direction: row;
		padding: 8px;
		box-sizing: border-box;
		justify-content: flex-end;
	}
}
