<div class="query-container">
	<div class="caller">
		<mat-form-field>
			<mat-select class="wallet-select"
						placeholder="Caller"
						panelClass="select-panel"
						(selectionChange)="wallet = $event.value">
				<mat-option [value]="undefined">No caller</mat-option>
				<mat-option *ngFor="let wallet of wallets" [value]="wallet">{{wallet.name}}</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	<div class="actions">
		<button class="action-button primary-action query-btn" (click)="submit()">Query</button>
	</div>
</div>
