<div class="sc-viewer-container" *ngIf="abi">
	<ng-container *ngIf="(abi.content | sc:sc?.address || '') as smartContract">
		<app-toolbar>
			<div left-side class="toolbar-left-side">
				<app-address-input *ngIf="!sc"
								   [chainId]="chainId"
								   [projectId]="projectId"
								   type="sc">
				</app-address-input>
				<app-address *ngIf="sc" [chainId]="chainId" [address]="sc.address || ''"></app-address>
			</div>

			<ng-container right-side [ngSwitch]="tabs.selectedIndexChange.asObservable() | async">
				<ng-container *ngSwitchCase="TABS.Endpoints">
					<app-toolbar-icon-button matTooltip="Expand all"
											 (click)="expandAll()">expand_more</app-toolbar-icon-button>
					<app-toolbar-icon-button matTooltip="Hide all"
											 (click)="hideAll()">expand_less</app-toolbar-icon-button>
				</ng-container>
				<ng-container *ngSwitchCase="TABS.Tokens">
					<app-toolbar-icon-button matTooltip="Reload">refresh</app-toolbar-icon-button>
				</ng-container>
				<ng-container *ngSwitchCase="TABS.NFTs">
					<app-toolbar-icon-button matTooltip="Reload">refresh</app-toolbar-icon-button>
				</ng-container>
				<ng-container *ngSwitchCase="TABS.Code">
					<app-toolbar-icon-button matTooltip="Download WASM file">download</app-toolbar-icon-button>
				</ng-container>
			</ng-container>
		</app-toolbar>

		<mat-tab-group #tabs headerPosition="below" [animationDuration]="'0ms'" [contentTabIndex]="TABS.Endpoints">
			<mat-tab label="Endpoints">
				<div class="page-tab-content">
					<ng-container *ngIf="!!sc && !(code$ | async)">
						<div class="no-code-warning">
							No smart contract code, maybe network was reset or address is wrong.
						</div>
					</ng-container>
					<app-sc-endpoint *ngFor="let endpoint of smartContract.getAbi().getAllEndpoints()"
									 [projectId]="abi.projectId"
									 [chainId]="chainId"
									 [endpoint]="endpoint"
									 [wallets]="(wallets$ | async) || []"
									 [sc]="smartContract">
					</app-sc-endpoint>
				</div>
			</mat-tab>
			<mat-tab label="Tokens" *ngIf="sc">
				<div class="page-tab-content">
					<app-sc-tokens [positions]="(tokens$ | async) || []" [native]="(native$ | async) || '0'"></app-sc-tokens>
				</div>
			</mat-tab>
			<mat-tab label="NFTs" *ngIf="sc">
				<div class="page-tab-content">
					<app-nft-list [list]="(nfts$ | async) || []"></app-nft-list>
				</div>
			</mat-tab>
			<mat-tab label="Code" *ngIf="sc">
				<div class="page-tab-content">
					<app-sc-code [code]="(code$ | async) || ''"></app-sc-code>
				</div>
			</mat-tab>
		</mat-tab-group>
	</ng-container>
</div>
