<div class="sc-viewer-container" *ngIf="abi">
	<ng-container *ngIf="(abi.content | sc:sc?.address || '') as smartContract">
		<app-toolbar>
			<div left-side class="toolbar-left-side">
				<app-address-input *ngIf="!sc"
								   [chainId]="chainId"
								   [projectId]="projectId"
								   type="sc">
				</app-address-input>
				<app-address *ngIf="sc" [chainId]="chainId" [address]="sc.address || ''"></app-address>
			</div>
			<app-toolbar-icon-button right-side
									 appTooltip
									 tooltip="Expand all"
									 (click)="expandAll()">
				expand_more
			</app-toolbar-icon-button>
			<app-toolbar-icon-button right-side
									 appTooltip
									 tooltip="Hide all"
									 (click)="hideAll()">
				expand_less
			</app-toolbar-icon-button>
		</app-toolbar>
		<app-tabs navPosition="bottom">
			<app-tab top title="Endpoints">
				<app-sc-endpoint *ngFor="let endpoint of smartContract.getAbi().getAllEndpoints()"
								 [projectId]="abi.projectId"
								 [chainId]="chainId"
								 [endpoint]="endpoint"
								 [wallets]="(wallets$ | async) || []"
								 [sc]="smartContract">
				</app-sc-endpoint>
			</app-tab>
			<app-tab  top title="Tokens" *ngIf="sc">
				<app-toolbar>
					<app-toolbar-icon-button right-side appTooltip tooltip="Reload">refresh</app-toolbar-icon-button>
				</app-toolbar>
				<app-sc-tokens [positions]="(tokens$ | async) || []" [native]="(native$ | async) || '0'"></app-sc-tokens>
			</app-tab>
			<app-tab  top title="NFTs" *ngIf="sc">
				<app-toolbar>
					<app-toolbar-icon-button right-side appTooltip tooltip="Reload">refresh</app-toolbar-icon-button>
				</app-toolbar>
				<app-sc-nfts></app-sc-nfts>
			</app-tab>
			<app-tab  top title="Code" *ngIf="sc">
				<app-toolbar>
					<app-toolbar-icon-button right-side appTooltip tooltip="Download WASM file">download</app-toolbar-icon-button>
				</app-toolbar>
				<app-sc-code [code]="(code$ | async) || ''"></app-sc-code>
			</app-tab>
		</app-tabs>
	</ng-container>
</div>
