:host {

}

//.mat-tab-body-wrapper {
//	height: calc(100vh - var(--header-height) - var(--tab-height) - var(--toolbar-height) - var(--tab-height) - var(--footer-height)) !important;
//}

.sc-viewer-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	height: calc(100vh - var(--header-height) - var(--toolbar-height) - var(--footer-height));
}

.toolbar-left-side {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-left: 6px;

	app-address-input {
		width: 620px;
	}
}

.no-code-warning {
	width: 100%;
	padding: 8px;
	background: var(--static-red);
	color: var(--static-white);
}
