:host {

}

.sc-viewer-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	height: calc(100vh - var(--header-height) - var(--toolbar-height) - var(--footer-height));
}
