<app-modal-dialog-header title="Upload WASM" [dialogRef]="dialogRef"></app-modal-dialog-header>
<div class="content">
	<textarea [(ngModel)]="wasm"></textarea>

	<button class="upload-button" (click)="fileUploader.click()">
		{{fileName || 'Select WASM'}}
	</button>

	<input #fileUploader
		   hidden
		   type="file"
		   accept="application/wasm"
		   (change)="onFileSelected($event)">
</div>
<div class="actions">
	<button mat-flat-button class="cancel-button" (click)="dialogRef.close()">Cancel</button>
	<button mat-flat-button class="create-button" [disabled]="!fileName || !wasm"
			(click)="submit()">
		Upload
	</button>
</div>
