<div class="sc-viewer-container" *ngIf="projectSc">
	<ng-container *ngIf="(projectSc.abi | sc:(address$ | async) || '') as smartContract">
		<app-sc-viewer-header [sc]="projectSc" [address]="(address$ | async) || ''"></app-sc-viewer-header>
		<app-tabs>
			<app-tab title="Endpoints">
				<app-toolbar>
					<app-toolbar-icon-button right-side hint="Import RAW call">add</app-toolbar-icon-button>
					<app-toolbar-icon-button right-side hint="Expand all">expand_more</app-toolbar-icon-button>
					<app-toolbar-icon-button right-side hint="Hide all">expand_less</app-toolbar-icon-button>
				</app-toolbar>
				<app-sc-endpoint *ngFor="let endpoint of smartContract.getAbi().getAllEndpoints()"
								 [endpoint]="endpoint"
								 [wallets]="(wallets$ | async) || []"
								 [sc]="smartContract">
				</app-sc-endpoint>
			</app-tab>
			<app-tab title="Tokens">
				<app-toolbar>
					<app-toolbar-icon-button right-side hint="Reload">refresh</app-toolbar-icon-button>
				</app-toolbar>
				<app-sc-tokens [address]="(address$ | async) || ''"></app-sc-tokens>
			</app-tab>
			<app-tab title="NFTs">
				<app-toolbar>
					<app-toolbar-icon-button right-side hint="Reload">refresh</app-toolbar-icon-button>
				</app-toolbar>
				<app-sc-nfts></app-sc-nfts>
			</app-tab>
			<app-tab title="Code">
				<app-toolbar>
					<app-toolbar-icon-button right-side hint="Download WASM file">download</app-toolbar-icon-button>
				</app-toolbar>
				<app-sc-code [code]="(code$ | async) || ''"></app-sc-code>
			</app-tab>
		</app-tabs>
	</ng-container>
</div>
