<div class="container">
	<app-toolbar>
		<div left-side class="title">Address book</div>
		<app-toolbar-icon-button right-side
								 appTooltip tooltip="Add address"
								 (click)="addAddress()">
			add
		</app-toolbar-icon-button>
	</app-toolbar>

	<ng-container *ngIf="addressBook$ | async as addressList">
		<div class="table-container">
			<table class="table" *ngIf="addressList.length">
				<tr *ngFor="let elem of addressList" class="row">
					<td>
						<div class="name">
							<span class="icon material-icons" [ngStyle]="{color: elem.type | componentColor}">{{elem.type | componentIcon}}</span>
							{{elem.name}}
						</div>
					</td>
					<td class="address-cell">
						<app-address [address]="elem.address"></app-address>
					</td>
					<td class="options">
						<button mat-icon-button [matMenuTriggerFor]="menu">
							<mat-icon>more_vert</mat-icon>
						</button>
						<mat-menu #menu="matMenu" classList="dropdown-list" xPosition="before">
							<button mat-menu-item (click)="renameAddress(elem.address, elem.name)">
								<mat-icon>drive_file_rename_outline</mat-icon>
								<span>Rename</span>
							</button>
							<button mat-menu-item (click)="deleteAddress(elem.address)">
								<mat-icon>delete</mat-icon>
								<span>Delete</span>
							</button>
						</mat-menu>
					</td>
				</tr>

			</table>
		</div>
	</ng-container>

</div>
