.icon-button {
	display: flex;
	flex-direction: row;

	width: 32px;
	height: 32px;
	padding: 3px 4px 4px 3px;
	margin: 4px;
	border: solid 1px transparent;

	&:hover {
		color: var(--text-accent-color);
		border: solid 1px var(--border-accent-color);
	}
}
