.icon-button {
	display: flex;
	flex-direction: row;

	width: 32px;
	height: 32px;
	padding: 3px 4px 4px 3px;
	margin: 2px 4px;
	border: solid 1px transparent;

	&:hover {
		color: var(--text-accent-color);
		border: solid 1px var(--border-accent-color);
		box-shadow: 0 0 7px 3px var(--border-low-color);
	}
}

.icon {
	font-size: 20px;
	margin-top: 2px;
	margin-left: 2px;
}
