.content {
	width: 100%;
	padding: 6px;

	.search-input {
		width: 100%;
		padding: 6px 0;

		input {
			width: 100%;
		}
	}

	.token-list {
		width: 100%;
		display: flex;
		flex-direction: column;
		margin-top: 6px;
		height: 250px;
		overflow-y: auto;
		border: solid 1px var(--border-low-color);
		border-radius: 2px;

		.token-element {
			padding: 6px;
			width: 100%;
			border-bottom: solid 1px var(--border-low-color);
			cursor: pointer;
			position: relative;

			.selected {
				position: absolute;
				top: 4px;
				right: 4px;
				color: var(--static-green);
			}
		}
	}
}

.actions {
	display: flex;
	flex: 1;
	flex-direction: row;
	padding-top: 4px;
	justify-content: flex-end;

	button {
		cursor: pointer;
		color: var(--text-color);
		margin: 4px;
	}

	.create-button {
		background: var(--static-green);
		border: solid 1px var(--static-green);
	}

	.cancel-button {
		background: none;
		border: solid 1px var(--border-color);
	}
}


