.tooltip {
	position: fixed;
	background-color: var(--tooltip-bg);
	border-radius: 4px;
	color: var(--tooltip-text);
	padding: 4px 6px;
	font-size: 0.92em;
	margin-top: -2px;
	transform: translate(-50%, -100%);

	&::before {
		content: '';
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid var(--tooltip-bg);
		position: absolute;
		left: calc(50% - 5px);
		top: 100%;
	}
}
