.wallet {
	display: flex;
	width: 100%;
	flex: 1;
	flex-direction: column;
	overflow-y: auto;
	height: calc(100vh - var(--header-height) - var(--toolbar-height) - var(--footer-height));

	.toolbar-left-side {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding-left: 12px;
	}

	.content {
		width: 100%;
		display: grid;
		grid-template-columns: 2fr 3fr;
		grid-template-rows: 50px 1fr;

		.header {
			font-size: 1.2em;
			padding: 16px;
		}
	}
}
