<div class="wallet" *ngIf="(account$ | async) as account">
	<app-toolbar>
		<div left-side class="toolbar-left-side">
			<app-address [chainId]="(chainId$ | async) || ''" [address]="address"></app-address>
		</div>
		<app-toolbar-icon-button *ngIf="wallet$ | async as wallet"
								 right-side appTooltip tooltip="Delete wallet"
								 (click)="deleteWallet(wallet)">
			delete
		</app-toolbar-icon-button>
		<app-toolbar-icon-button right-side appTooltip tooltip="Rename"
								 (click)="renameWallet()">
			drive_file_rename_outline
		</app-toolbar-icon-button>
		<app-toolbar-icon-button *ngIf="wallet$ | async as wallet"
								 right-side appTooltip tooltip="Export keys"
								 (click)="exportMnemonic(wallet)">
			key
		</app-toolbar-icon-button>
		<app-toolbar-icon-button right-side appTooltip
								 tooltip="Refresh"
								 (click)="loadData()">refresh</app-toolbar-icon-button>
	</app-toolbar>

	<app-tabs navPosition="bottom">
		<app-tab top title="Tokens">
			<app-sc-tokens [positions]="(tokens$ | async) || []" [native]="(native$ | async) || '0'"></app-sc-tokens>
		</app-tab>
		<app-tab top title="NFTs">
			Coming soon
		</app-tab>
		<app-tab top title="Transactions">
			<app-account-transaction *ngFor="let tx of (transactions$ | async)"
									 [projectId]="projectId"
									 [tx]="tx"
									 [chainId]="(chainId$ | async) || ''"></app-account-transaction>
		</app-tab>
	</app-tabs>
</div>
