<div class="wallet" *ngIf="(account$ | async) as account">
	<app-toolbar>
		<div left-side class="toolbar-left-side">
			<app-address [chainId]="(chainId$ | async) || ''" [address]="address"></app-address>
		</div>
		<app-toolbar-icon-button *ngIf="wallet$ | async as wallet"
								 right-side appTooltip tooltip="Delete wallet"
								 (click)="deleteWallet(wallet)">
			delete
		</app-toolbar-icon-button>
		<ng-container right-side *ngIf="wallet$ | async as wallet">
			<app-toolbar-icon-button  appTooltip tooltip="Rename"
									 (click)="renameWallet(wallet.name)">
				drive_file_rename_outline
			</app-toolbar-icon-button>
			<app-toolbar-icon-button
				appTooltip tooltip="Export keys"
				(click)="exportMnemonic(wallet)">
				key
			</app-toolbar-icon-button>
		</ng-container>
		<app-toolbar-icon-button right-side appTooltip
								 tooltip="Refresh"
								 (click)="loadData()">refresh</app-toolbar-icon-button>
	</app-toolbar>

	<mat-tab-group headerPosition="below" [animationDuration]="'0ms'">
		<mat-tab label="Tokens">
			<div class="page-tab-content">
				<app-sc-tokens [positions]="(tokens$ | async) || []" [native]="(native$ | async) || '0'"></app-sc-tokens>
			</div>
		</mat-tab>
		<mat-tab label="NFTs">
			<div class="page-tab-content">
				Coming soon
			</div>
		</mat-tab>
		<mat-tab label="Transactions">
			<div class="page-tab-content">
				<app-account-transaction *ngFor="let tx of (transactions$ | async)"
										 [projectId]="projectId"
										 [tx]="tx"
										 [chainId]="(chainId$ | async) || ''"></app-account-transaction>
			</div>
		</mat-tab>
	</mat-tab-group>
</div>
