<div class="endpoint-container" *ngIf="endpoint">
	<div class="header"
		 (click)="isShowing = true"
		 [ngStyle]="{cursor: isShowing ? 'default' : 'pointer'}">
		<div class="title">
			{{endpoint.name}}
			<div class="args">
				(<ng-container *ngFor="let input of endpoint.input || []; let i = index">
					<div class="arg-name">{{input.name}}</div>
					<div class="space-after">:</div>
					<div class="arg-type">{{input.type}}</div>
					<div class="space-after" *ngIf="(endpoint?.input?.length || 0) - 1 !== i">, </div>
				</ng-container>)
			</div>
			<div class="args-count" *ngIf="endpoint.input.length">
				{{endpoint.input.length}} args
			</div>
		</div>
		<div class="controls">

			<ng-container *ngIf="!isConstructor">
				<span class="badge payable" *ngIf="endpoint.modifiers.isPayable()">Payable</span>
				<span class="badge mutable" *ngIf="!endpoint.modifiers.isReadonly()">Mutable</span>
				<span class="badge readonly" *ngIf="endpoint.modifiers.isReadonly()">Readonly</span>
			</ng-container>
			<span class="badge mutable" *ngIf="isConstructor">Constructor</span>
			<button class="material-icons" matTooltip="Hide" *ngIf="isShowing" (click)="hide($event)">expand_less</button>
			<button class="material-icons" matTooltip="Expand" *ngIf="!isShowing" (click)="show($event)">expand_more</button>
		</div>
	</div>
	<ng-container *ngIf="isShowing">
		<form [formGroup]="form" class="inputs">
			<app-sc-input *ngFor="let input of endpoint?.input || []"
						  [name]="input.name"
						  [type]="input.type"
						  [chainId]="chainId"
						  [projectId]="projectId"
						  [formControlName]="input.name"></app-sc-input>
		</form>

		<ng-container *ngIf="network$ | async as network">
			<ng-container *ngIf="!endpoint.modifiers.isReadonly()">
				<app-sc-endpoint-tx-sign *ngIf="!isConstructor"
										 [projectId]="projectId"
										 [wallets]="wallets"
										 [sc]="sc"
										 [endpoint]="endpoint"
										 [network]="network"
										 [payload]="payload$ | async"
										 (onSubmit)="submitTransaction(network, $event.wallet, $event.fee, $event.payment)">
				</app-sc-endpoint-tx-sign>
				<app-sc-deploy-tx-sign *ngIf="isConstructor"
									   [projectId]="projectId"
									   [wallets]="wallets"
									   [sc]="sc"
									   [endpoint]="endpoint"
									   [network]="network"
									   [payload]="payload$ | async"
									   (onSubmit)="submitTransaction(network, $event.wallet, $event.fee, $event.payment)">
				</app-sc-deploy-tx-sign>
			</ng-container>
			<app-sc-endpoint-query *ngIf="endpoint.modifiers.isReadonly()"
								   [wallets]="wallets"
								   (onSubmit)="sendQuery(network)"></app-sc-endpoint-query>

		<div class="result" *ngIf="queryResultSubject | async as result">
			<app-sc-query-result [result]="result"></app-sc-query-result>
		</div>

		<div class="result" *ngIf="txResultSubject | async as txHash">
			<app-sc-tx-result [chainId]="chainId" [txHash]="txHash"></app-sc-tx-result>
		</div>
		</ng-container>
	</ng-container>
</div>
