<div class="endpoint-container" *ngIf="endpoint">
	<div class="header"
		 (click)="isShowing = true"
		 [ngStyle]="{cursor: isShowing ? 'default' : 'pointer'}">
		<div class="title">
			{{endpoint.name}}
			<span class="args">
				(<ng-container *ngFor="let input of endpoint.input || []; let i = index">
					<span class="arg-name">{{input.name}}</span>
					<span>: </span>
					<span class="arg-type">{{input.type}}</span>
					<span *ngIf="(endpoint?.input?.length || 0) - 1 !== i">, </span>
				</ng-container>)
			</span>
		</div>
		<div class="controls">
			<span class="badge mutable" *ngIf="!endpoint.modifiers.isReadonly()">Mutable</span>
			<span class="badge readonly" *ngIf="endpoint.modifiers.isReadonly()">Readonly</span>
			<button class="material-icons" *ngIf="isShowing" (click)="hide($event)">expand_less</button>
			<button class="material-icons" *ngIf="!isShowing" (click)="show($event)">expand_more</button>
		</div>
	</div>
	<ng-container *ngIf="isShowing">
		<form [formGroup]="form" class="inputs">
			<app-sc-input *ngFor="let input of endpoint?.input || []"
						  [input]="input"
						  [formControlName]="input.name"></app-sc-input>
		</form>

		<div class="result" *ngIf="resultSubject | async as result">
			{{result | json}}
		</div>

		<ng-container *ngIf="network$ | async as network">
			<app-sc-endpoint-tx-sign *ngIf="!endpoint.modifiers.isReadonly()"
									 [wallets]="wallets"
									 (onSubmit)="submitTransaction(network, $event.wallet, $event.fee)"></app-sc-endpoint-tx-sign>
			<app-sc-endpoint-query *ngIf="endpoint.modifiers.isReadonly()"
								   [wallets]="wallets"
								   (onSubmit)="sendQuery(network)"></app-sc-endpoint-query>
		</ng-container>
	</ng-container>
</div>
