.endpoint-container {
	display: flex;
	padding: 4px 0 4px 6px;
	flex-direction: column;
	border-bottom: solid 1px var(--border-low-color);

	.header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		color: var(--text-color);

		.badge {
			border-radius: 4px;
			padding: 4px 6px;
			margin-left: 6px;
			height: 24px;
			font-size: 14px;
		}

		.payable {
			background: var(--static-yellow);
		}

		.mutable {
			background: var(--static-purpure);
		}

		.readonly {
			background: var(--static-cyan);
		}

		.title {
			display: flex;
			font-size: 14px;
			align-items: center;
			overflow-x: hidden;
			position: relative;
			width: 100%;

			.args-count {
				right: 0;
				top: 0;
				bottom: 0;
				position: absolute;
				font-size: 0.88em;
				background: var(--low-bg);
				box-shadow: 0px -40px 26px 30px var(--low-bg);
				margin-right: 3px;
			}

			.args {
				color: var(--static-gray);
				margin-left: 2px;
				display: flex;
				flex-direction: row;

				.arg-name {
					color: var(--arg-name-color);
				}

				.arg-type {
					color: var(--arg-type-color);
				}

				.space-after {
					margin-right: 6px;
				}
			}
		}

		.controls {
			display: flex;
			align-items: center;
		}
	}

	.inputs {
		display: flex;
		flex-direction: column;

		.input {
		}
	}

	.actions {
		display: flex;
		flex-direction: row;
		width: 100%;
		padding: 8px;
		box-sizing: border-box;
		justify-content: flex-end;

		.button {
			padding: 4px 8px;
		}

		.call {
			background: var(--static-green);
		}
	}
}
