<app-modal-dialog-header title="{{data.title || 'Rename'}}" [dialogRef]="dialogRef"></app-modal-dialog-header>
<div content class="content">
	<mat-form-field>
		<mat-label>New name</mat-label>
		<input matInput [(ngModel)]="name" placeholder="New name">
	</mat-form-field>
</div>

<div class="actions">
	<button mat-flat-button class="cancel-button" (click)="dialogRef.close()">Cancel</button>
	<button mat-flat-button
			class="create-button"
			[disabled]="!name"
			(click)="create()">Rename</button>
</div>
