.tx-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	height: calc(100vh - var(--header-height) - var(--toolbar-height) - var(--toolbar-height) - var(--tab-height) - var(--footer-height));
	padding: 8px;
}

.header-tx-hash {
	display: flex;
	margin-left: 8px;
	justify-content: center;
	align-items: center;

	.label {
		margin-right: 8px;
	}
}

.details {
	display: grid;
	grid-template-columns: 120px 1fr;
}

.grid-cell {
	padding: 4px 0;
}

.address-field {
	display: flex;
	flex-direction: row;

	.shard {
		margin-left: 8px;
	}
}

.tx-status {
	display: inline-block;
}

.tx-data {
	width: 100%;
	height: 50px;
	resize: none;
}

.tx-log {
	padding: 6px 6px 6px 18px;
	border-bottom: solid 1px var(--border-low-color);
	display: grid;
	grid-template-columns: 100px 1fr;
}
