.tx-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	height: calc(100vh - var(--header-height) - var(--toolbar-height) - var(--toolbar-height) - var(--footer-height));
	font-size: 14px;
}

.header-tx-hash {
	display: flex;
	margin-left: 8px;
	justify-content: center;
	align-items: center;

	.label {
		margin-right: 8px;
	}
}

.details {
	display: grid;
	grid-template-columns: 100px 1fr;
	padding: 8px;
}

.field-label {
	color: var(--low-text);
	font-weight: 500;
}

.grid-cell {
	padding: 4px 0;
}

.address-field {
	display: flex;
	flex-direction: row;

	.shard {
		margin-left: 8px;
	}
}

.tx-status {
	display: inline-block;
}

.tx-data {
	width: 100%;
	resize: none;
}

.tx-log {
	padding: 8px 8px 8px 22px;
	border-bottom: solid 1px var(--border-low-color);
	display: grid;
	grid-template-columns: 100px 1fr;
}

.tx-sc-result {
	font-size: 14px;
	padding: 8px;
	border-bottom: solid 1px var(--border-low-color);
	display: grid;
	grid-template-columns: 100px 1fr;
}

.tx-logs-address {
	padding: 8px;
}
