.content {
	padding: 8px 0;
	width: 100%;
	display: flex;
	flex-direction: column;

	.field {
		margin: 6px 0;
	}

	.sc-name {
		width: 100%;
		display: flex;
		flex: 1
	}

	.network-select {
		width: 100%;
		display: flex;
		flex: 1;
		margin-top: 12px;
	}
}

.actions {
	display: flex;
	flex: 1;
	flex-direction: row;
	padding-top: 4px;
	justify-content: flex-end;

	button {
		color: var(--text-color);
		margin: 4px;
		cursor: pointer;
	}

	.create-button {
		background: var(--static-green);
		border: solid 1px var(--static-green);
	}

	.cancel-button {
		background: none;
		border: solid 1px var(--border-color);
	}
}

app-form-field:not(:last-child) {
	margin-bottom: 8px;
}
