.asset-positions-list-container {
	width: 100%;
	display: flex;
	flex-direction: column;

	.position {
		display: flex;
		flex-direction: row;
		padding: 6px 4px;
		justify-content: space-between;
		align-items: center;

		&:nth-child {
			background: var(--low-bg);
		}

		.token-info {
			display: flex;
			flex-direction: row;

			.token-img {
				width: 24px;
				height: 24px;
				margin-right: 8px;
			}

			.token-id {
				color: var(--text-accent-color);
			}
		}

		.amount {
			color: var(--text-accent-color);
		}
	}
}
