
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$elrond-sc-primary: (
	50 : #e3e4e6,
	100 : #b9bcbf,
	200 : #8b9095,
	300 : #5d646b,
	400 : #3a424b,
	500 : #17212b,
	600 : #141d26,
	700 : #111820,
	800 : #0d141a,
	900 : #070b10,
	A100 : #5498ff,
	A200 : #217aff,
	A400 : #005fed,
	A700 : #0055d4,
	contrast: (
		50 : #000000,
		100 : #000000,
		200 : #000000,
		300 : #ffffff,
		400 : #ffffff,
		500 : #ffffff,
		600 : #ffffff,
		700 : #ffffff,
		800 : #ffffff,
		900 : #ffffff,
		A100 : #000000,
		A200 : #ffffff,
		A400 : #ffffff,
		A700 : #ffffff,
	)
);


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
//$elrond-sc-primary: mat.define-palette(mat.$indigo-palette);
$elrond-sc-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
//
//// The warn palette is optional (defaults to red).
$elrond-sc-warn: mat.define-palette(mat.$red-palette);
//
//// Create the theme object. A theme consists of configurations for individual
//// theming systems such as "color" or "typography".
$elrond-sc-theme: mat.define-dark-theme((
  color: (
    primary: $elrond-sc-primary,
    accent: $elrond-sc-accent,
    warn: $elrond-sc-warn,
  )
));

//
//// Include theme styles for core and each component used in your app.
//// Alternatively, you can import and @include the theme mixins for each component
//// that you are using.
@include mat.all-component-themes($elrond-sc-theme);

:root {
	--static-red: #b04b4b;
	--static-yellow: #b09a4b;
	--static-green: #4aa444;
	--static-low-green: #4a9344;
	--static-gray: #adadad;
	--static-purpure: #a57eff;
	--static-cyan: #47af88;
	--static-white: #fff;

	--arg-name-color: #4a7db7;
	--arg-type-color: #47af88;

	--header-height: 68px;
	--tab-height: 30px;
	--project-selector-height: 70px;
	--toolbar-height: 38px;
	--footer-height: 24px;
	--endpoint-action-button-width: 70px;
}

.dark-theme {
	--primary-bg: #17212b;
	--primary-darken-bg: #16202AFF;
	--high-bg: #242f3d;
	--low-bg: #1a2633;
	--field-label-color: #c0c3c4;
	--text-color: #e1e3d9;
	--text-accent-color: #fff;
	--text-primary-color: #5288c1;

	--scroll-color: #36415b;
	--scroll-hover-color: #3a4564;

	--border-low-color: #23394b;
	--border-color: #31536e;
	--border-accent-color: #4875a2;

	--submit-button-bg: #4292df;
	--cancel-button-bg: #2f3d4f;

	--tooltip-bg: #000;
	--tooltip-text: #fff;

	--default-component-color: #fff;
	--abi-color: #f59664;
	--sc-color: #7effbd;
	--token-color: #fddf79;
	--wallet-color: #0FF0FF;
	--nft-color: #e37ef3;
	--tx-color: #73e775;
}

.light-theme {
	--primary-bg: #e8e8e8;
	--primary-darken-bg: #d9d9d9;
	--high-bg: #dadada;
	--low-bg: #f1f1f1;
	--field-label-color: #7a7c7c;
	--text-color: #253346;
	--text-accent-color: #161f28;
	--text-primary-color: #5288c1;

	--scroll-color: #c2c2c2;
	--scroll-hover-color: #a8a8a8;

	--border-low-color: #c4d2dc;
	--border-color: #c1cbd2;
	--border-accent-color: #536e7e;

	--submit-button-bg: #4292df;
	--cancel-button-bg: #2f3d4f;

	--tooltip-bg: #000;
	--tooltip-text: #fff;

	--default-component-color: #fff;
	--abi-color: #cd5b1e;
	--sc-color: #3aae8b;
	--token-color: #bf9e2d;
	--wallet-color: #00a6b0;
	--nft-color: #b451c4;
	--tx-color: #53b054;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 1px var(--high-bg);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: var(--scroll-color);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--scroll-hover-color);
}

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
	src: local('Material Icons'),
	local('MaterialIcons-Regular'),
	url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
	url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
	url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background: var(--primary-bg);
	color: var(--text-color);
	font-family: Poppins;
	overflow: hidden;
}

* {
	font-size: 1em;
	box-sizing: border-box;
}

input, textarea {
	background: var(--low-bg);
	color: var(--text-color);
	//border: solid 1px var(--border-low-color);
	//border-radius: 4px;
	//padding: 2px 4px;
}

input:focus, input:active, textarea:focus, textarea:active {
	//border: solid 1px var(--border-accent-color);
	//outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

button {
	background: none;
	border: solid 1px transparent;
	color: var(--text-color);
	cursor: pointer;
	border-radius: 4px;
}

.action-button {
	padding: 10px 12px
}

.primary-action {
	background: var(--submit-button-bg);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-dialog-container {
	background-color: var(--primary-bg) !important;
	border-radius: 4px;
	border: solid 1px var(--border-color);
	box-shadow: 0 0 6px 2px var(--border-low-color);
}

.select-panel {
	background-color: var(--primary-bg) !important;
	border: solid 1px var(--border-color);
	box-shadow: 0 0 6px 2px var(--border-low-color);
}

.dropdown-list {
	background-color: var(--primary-bg) !important;
	border: solid 1px var(--border-color);
	box-shadow: 0 0 6px 2px var(--border-low-color);
}
