<div *ngIf="data" mat-ripple class="preview-container" (click)="toggleExpand()" >
	<div class="primary-info">
		<div class="title">
			<app-action-type-icon [type]="data.type"></app-action-type-icon>
			<div>{{data.title}}</div>
		</div>
		<app-action-status-badge [status]="data.status"></app-action-status-badge>
	</div>
	<div class="tech-details">
		<app-tx-hash *ngIf="data.txHash"
					 [chainId]="data.chainId"
					 [txHash]="data.txHash"
					 [interactive]="true"
					 [maxLength]="8"
					 (open)="openTx()">
		</app-tx-hash>
		<div>{{data.timestamp | date:'medium'}}</div>
	</div>
</div>

<div class="expand-data-container" *ngIf="isExpanded && data">
	<div class="row" *ngFor="let key of keys">
		<div class="key">{{key | fieldLabel}}:</div>
		<div class="value">{{data.data[key]?.toString() | shortString: 18}}</div>
	</div>
</div>
