.preview-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	border-bottom: solid 1px var(--border-low-color);
	padding: 8px;
	box-sizing: border-box;
	cursor: pointer;
	font-size: 14px;

	.type {
		font-weight: 600;
	}

	.primary-info, .tech-details, .finance-details {
		display: flex;
		flex-direction: row;
	}

	.tech-details {
		justify-content: space-between;
		font-size: 0.9em;
	}

	.primary-info {
		justify-content: space-between;
		align-items: center;
	}

	.status {
		margin-top: -4px;
	}
}

.title {
	display: flex;
	flex-direction: row;
}

.expand-data-container {
	width: 100%;
	background: var(--low-bg);
	display: flex;
	flex-direction: column;
	font-size: 14px;
	border-bottom: solid 1px var(--border-low-color);
	padding: 8px 0;

	.row {
		display: flex;
		width: 100%;
		justify-content: left;
		padding: 3px 8px;

		.key {
			width: 35%;
			color: var(--low-text);
			word-wrap: break-word;
		}

		.value {
			width: 65%;
			word-wrap: break-word;
		}
	}
}
