<div *ngIf="data" class="action-container">
	<div class="primary-info">
		<span>
			<span class="type">[{{data.type}}]</span>
			{{data.title}}
		</span>
		<app-action-status-badge [status]="data.status"></app-action-status-badge>
	</div>
	<div class="tech-details">
		<app-tx-hash *ngIf="data.txHash"
					 [chainId]="data.chainId"
					 [txHash]="data.txHash"
					 [interactive]="true"
					 [maxLength]="8"
					 (open)="openTx()">
		</app-tx-hash>
		<div>{{data.timestamp | date:'medium'}}</div>
	</div>
</div>
