.action-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	border-bottom: solid 1px var(--border-low-color);
	padding: 8px;
	box-sizing: border-box;

	.type {
		font-weight: 600;
	}

	.primary-info, .tech-details, .finance-details {
		display: flex;
		flex-direction: row;
	}

	.tech-details {
		justify-content: space-between;
		font-size: 0.9em;
	}

	.primary-info {
		justify-content: space-between;
		align-items: center;
	}
}

.title {
	display: flex;
	flex-direction: row;

	app-action-type-icon {
		margin-right: 8px;
	}
}
