.wallet-list-container {
	width: 100%;
	overflow-y: auto;
	height: calc(100vh - var(--header-height) - var(--project-selector-height) - var(--toolbar-height) - var(--tab-height) - var(--footer-height));
	background: var(--low-bg);
}
