.input-container {
	display: flex;
	flex-direction: row;
	padding: 6px 0;

	.name {
		display: flex;
		width: 200px;
		font-size: 0.86em;
		padding-right: 12px;
	}

	.input {
		display: flex;
		flex: 1;

		.address, .struct {
			width: 100%;
		}

		.unsupported-type {
			width: 100%;
			margin: 2px 0;
			padding: 8px;
			border-radius: 2px;
			border: solid 1px var(--static-red);
			color: var(--static-red);
		}
	}
}
