<div class="input-container" *ngIf="type">
	<div class="name" *ngIf="name">{{name}}</div>

	<div class="input" [ngSwitch]="true">
		<app-bool-input *ngSwitchCase="isBoolType()"
						(onChange)="writeValue($event)"></app-bool-input>
		<app-bytes-input *ngSwitchCase="isBytesType()"
						 (changed)="writeValue($event)"></app-bytes-input>
		<app-number-input *ngSwitchCase="isNumericalType()"
						  [type]="type"
						  [value]="value"
						  (changed)="writeValue($event)"></app-number-input>
		<app-enum-input *ngSwitchCase="isEnum()"
						[type]="type"
						(changed)="writeValue($event)"></app-enum-input>
		<app-address-input *ngSwitchCase="isAddress()"
						   [projectId]="projectId"
						   [address]="value"
						   class="address"
						   [chainId]="chainId"
						   (changed)="writeValue($event)"></app-address-input>
		<app-token-identifier-input *ngSwitchCase="isTokenIdentifier()"
									[projectId]="projectId"
									[identifier]="value"
									[chainId]="chainId"
									(changed)="writeValue($event)"></app-token-identifier-input>
		<app-struct-input *ngSwitchCase="isStruct()"
						  class="struct"
						  [projectId]="projectId"
						  [chainId]="chainId"
						  [name]="type.getName()"
						  [type]="type"
						  (changed)="writeValue($event)"></app-struct-input>
		<app-array-input *ngSwitchCase="isVariadic()"
						 [projectId]="projectId"
						 [chainId]="chainId"
						 [type]="type"
						 [name]="type.getName()"></app-array-input>
		<div *ngSwitchDefault class="unsupported-type">
			Type {{type.getClassName()}} is not supported yet
		</div>
	</div>

</div>
