<div class="input-container" *ngIf="input">
	<div class="name">{{input.name}}</div>

	<div class="input" [ngSwitch]="true">
		<app-bool-input *ngSwitchCase="isBoolType()"
						(onChange)="writeValue($event)"></app-bool-input>
		<app-bytes-input *ngSwitchCase="isBytesType()"
						 (changed)="writeValue($event)"></app-bytes-input>
		<app-number-input *ngSwitchCase="isNumericalType()"
						  [type]="input?.type"
						  (changed)="writeValue($event)"></app-number-input>
		<app-enum-input *ngSwitchCase="isEnum()"
						[type]="input?.type"
						(changed)="writeValue($event)"></app-enum-input>
		<app-address-input *ngSwitchCase="isAddress()"
						   class="address"
						   [chainId]="chainId"
						   (changed)="writeValue($event)"></app-address-input>
		<app-token-identifier-input *ngSwitchCase="isTokenIdentifier()"
									[projectId]="projectId"
									[chainId]="chainId"
									(changed)="writeValue($event)"></app-token-identifier-input>
		<app-struct-input *ngSwitchCase="isStruct()"
						  class="struct"
						  [projectId]="projectId"
						  [chainId]="chainId"
						  [name]="input.type.getName()"
						  [type]="input.type"
						  (changed)="writeValue($event)"></app-struct-input>
		<input *ngSwitchDefault class="input">
	</div>

</div>
