<app-modal-dialog-header title="Update project network" [dialogRef]="dialogRef"></app-modal-dialog-header>
<div class="content">
	<app-select class="network-select"
				label="Network"
				(selectionChange)="onChangeNetwork($event)">
		<app-option *ngFor="let network of (networks$ | async) || []" [value]="network.chainId">
			{{network.name}}
		</app-option>
	</app-select>
</div>

<div class="actions">
	<button mat-flat-button class="cancel-button" (click)="dialogRef.close()">Cancel</button>
	<button mat-flat-button class="create-button"
			[disabled]="!chainId"
			(click)="update()">Update</button>
</div>
