.content {
	padding: 20px 0;
	width: 100%;

	.sc-name {
		width: 100%;
		margin-top: 10px;
	}

	.upload-button {
		width: 100%;
		display: flex;
		padding: 8px;
		color: var(--text-color);
		border-radius: 4px;
		background: var(--static-green);
		border: solid 1px var(--static-green);
	}

	.parsed-result {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 8px 0;

		.row {
			padding: 2px 0;
		}
	}
}

.actions {
	display: flex;
	flex: 1;
	flex-direction: row;
	padding-top: 4px;

	button {
		display: flex;
		padding: 6px;
		color: var(--text-color);
		border-radius: 4px;
		margin: 4px;
	}

	.create-button {
		background: var(--static-green);
		border: solid 1px var(--static-green);
	}

	.cancel-button {
		background: none;
		border: solid 1px var(--border-color);
	}
}


