:host {
	width: 100%;
}

.project-element {
	font-size: 0.84em;
	display: flex;
	flex: 1;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	height: 28px;

	&:hover {
		background: var(--high-bg);
	}

	.icon {
		padding: 2px;
		color: var(--text-color);
		font-size: 1.3em;
	}

	.expand {
		cursor: pointer;
		padding-right: 4px;
		font-size: 1.3em;
	}

	.name {
		margin-left: 4px;
		flex: 1;
		padding: 6px 0;
		color: var(--text-color);
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	.bold {
		font-weight: 500;
	}

	.actions {
		display: flex;
		justify-content: right;
		align-items: center;
		flex-direction: row;
	}
}

.active, .active:hover {
	background: var(--active-bg);

	color: var(--text-accent-color);
}

.content {
	padding-left: 28px;
}
