<div class="project-element">
	<div *ngIf="expandable"
		 class="material-icons expand" (click)="toggleExpand()">
		{{isExpanded ? 'expand_more' : 'chevron_right'}}
	</div>
	<div class="material-icons icon"
		 [ngStyle]="{color: type | componentColor}"
		 (click)="onClick()">
		{{type | componentIcon}}
	</div>
	<div class="name"
		 [ngClass]="{bold: bold}"
		 [ngStyle]="{color: type | componentColor}"
		 (click)="onClick()">
		{{name}}
	</div>
	<div class="actions">
		<ng-content select="[actions]"></ng-content>
	</div>
</div>

<div class="content" *ngIf="isExpanded">
	<ng-content select="[innerElements]"></ng-content>
</div>
