<app-modal-dialog title="Issue token" [dialogRef]="dialogRef" *ngIf="project$ | async as project">
	<div content class="content">
		<form [formGroup]="issueTokenForm" class="issue-form">
			<div class="form-control">
				<div class="label">Token name</div>
				<input class="field" formControlName="name" placeholder="Token name">
			</div>

			<div class="form-control">
				<div class="label">Token ticker</div>
				<input formControlName="ticker" placeholder="Token ticker">
			</div>

			<div class="form-control">
				<div class="label">Mint value</div>
				<input formControlName="supply" type="number" min="0" placeholder="Mint value">
			</div>

			<div class="form-control">
				<div class="label">Decimals</div>
				<input formControlName="decimals" type="number" min="0" placeholder="Decimals">
			</div>
		</form>

		<app-select class="input-control" placeholder="Token issuer" (selectionChange)="onChangeIssuerWallet($event)">
			<app-option *ngFor="let wallet of project.wallets" [value]="wallet">{{wallet.name}}</app-option>
		</app-select>
	</div>
	<div actions>
		<div class="actions">
			<button class="cancel-button" (click)="dialogRef.close()">Cancel</button>
			<button class="create-button"
					[disabled]="!issueTokenForm.valid"
					*ngIf="network$ | async as network"
					(click)="submit(network, wallet)">
				Issue
			</button>
		</div>
	</div>
</app-modal-dialog>
