.content {
	width: 100%;
}

.issue-form {
	padding: 8px;
	display: flex;
	flex-direction: column;

	.form-control {
		display: flex;
		flex-direction: row;
		width: 100%;
		padding: 4px 0;

		.label {
			width: 160px;
		}

		.field {
			display: flex;
			flex: 1;
		}
	}
}

.caller {
	width: 100%;
}

.actions {
	display: flex;
	flex: 1;
	flex-direction: row;
	padding-top: 4px;
	justify-content: flex-end;

	button {
		color: var(--text-color);
		margin: 4px;
	}

	.create-button {
		background: var(--static-green);
		border: solid 1px var(--static-green);
	}

	.cancel-button {
		background: none;
		border: solid 1px var(--border-color);
	}
}


